<template>
  <div>
    <DccNavBar/>
    <div class="page-title about">
      <div class="page-title-overlay-container">
        <div class="page-title-overlay"></div>
      </div>
      <div class="page-title-text-container">
        <h1 class="text-center page-title-text">ABOUT DCC</h1>
      </div>
    </div>
    <div class="split-pane-container">
      <div class="split-pane-left">
        <h2 class="text-center">DCC Is About Discipleship</h2>
        <p class="text-center">Being <b>with Jesus</b></p><p class="text-center">Learning to <b>be like Jesus</b></p><p class="text-center">In order to <b>do what Jesus did</b></p>
        <hr/>
        <h4 class="bold">Being With Jesus</h4>
        <p>Scripture and prayer are tools for being with Jesus. Reading the inspired Word He gave us and talking to Him regularly are the ways we learn to walk daily with God. On Sunday morning we seek God corporately, being with Him together and encouraging one another to be with Him individually during the week. These are the first two of our seven Discipleship Marks:</p>
        <ul>
          <li>Love of Scripture: We meet the living God in the Word of God.</li>
          <li>Posture of Prayer: We know that apart from God we can do nothing.</li>
        </ul>
        <hr/>
        <h4 class="bold">Becoming Like Jesus</h4>
        <p>As we spend more time with Jesus, we slowly begin to take on His mannerisms and attitudes about the world. We begin to surrender our lives fully to Him and to love each other in the selfless ways to which Jesus calls us. Joining a small group provides accountability and encouragement to grow in these, the third and fourth of our Discipleship Marks:</p>
        <ul>
          <li>Holistic Worship: We offer God all of who we are and all of what we have.</li>
          <li>Authentic Community: We love each other in spite of our flaws.</li>
        </ul>
        <hr/>
        <h4 class="bold">Doing What Jesus Did</h4>
        <p>We seek to find the places where the Kingdom is moving and join in with what God is doing. Whether that is at DCC in a ministry team, in the workplace talking to coworkers, or overseas serving on a missions team, we want to equip and empower our members to do what Jesus did: make disciples who make disciples. These are the final three of our seven Discipleship Marks:</p>
        <ul>
          <li>Intentional Discipleship: We are called to be disciples and to make disciples.</li>
          <li>Sacrificial Service: We disadvantage ourselves for the sake of others.</li>
          <li>Missional Mindset: We are sent my God to help redeem the world.</li>
        </ul>
        <hr/>
        <h2 class="text-center">Church Documents</h2>
        <p>For more information and greater detail about what our church believes and what we consider essential, please see the following documents.</p>
        <p class="text-center"><a target="_blank" href="https://dccsiteimages.s3.amazonaws.com/files/Discipleship_Marks.pdf">Discipleship Marks</a></p>
        <p class="text-center"><a target="_blank" href="https://dccsiteimages.s3.amazonaws.com/files/Essentials_of_our_Faith.pdf">Statement Of Faith</a></p>
        <p class="text-center"><a target="_blank" href="https://dccsiteimages.s3.amazonaws.com/files/Constitution.pdf">Church Constitution</a></p>
        <p class="text-center"><a target="_blank" href="https://dccsiteimages.s3.amazonaws.com/files/Ministry_Principles_Processes.pdf">Ministry Principles &amp; Processes</a></p>

        <hr/>

        <div>
          <h2 class="text-center">Time and Location</h2>
          <div class="map-info-container">
            <div class="map-image-container">
            <a target="_blank" href="https://www.google.com/maps/place/2250+Dunwoody+Club+Dr,+Atlanta,+GA+30350/"><img width="220px" src="https://dccsiteimages.s3.amazonaws.com/map.jpg"/></a>
            </div>
            <div class="small-group-info-container">
            <p><b>Our regular Sunday Service begins at 10:30 AM.</b><br/>
            There's a Children's program and a Nursery for the young ones.<br/>
            A Cry Room is available as well in the back of the sanctuary.</p>
            <p>We are located at:<br/>
              <b>2250 Dunwoody Club Dr.<br/>Atlanta, GA 30350</b></p>
            <p>Phone: <a href="tel:7703968600">770-396-8600</a><br/>
              Email: <a href="mailto:info@dunwoodychurch.org">info@dunwoodychurch.org</a></p>
            <p>Map: <a target="_blank" href="https://www.google.com/maps/place/2250+Dunwoody+Club+Dr,+Atlanta,+GA+30350/">2250 Dunwoody Club Dr., Atlanta, GA 30350-5408</a></p>
            <p>Our office is open Monday - Thursday from 9:30am to 4:30pm.</p>
            </div>
          </div>
        </div>

      </div>
      <div class="split-pane-right staff">
        <div class="staff">
        <h2 class="text-center">Staff Team</h2>
        <hr />
        <div class="staff-container">
          <div class="staff-image-container">
            <img src="https://dccsiteimages.s3.amazonaws.com/staff/jansen.jpg" />
          </div>
          <div class="staff-content-container">
            <h3 class="staff-name">JEFF JANSEN</h3>
            <div>TEACHING PASTOR</div>
            <div>
              <a href="mailto:jjansen@dunwoodychurch.org">JJANSEN@DUNWOODYCHURCH.ORG</a>
            </div>
            <p>Jeff has been on staff at DCC since the summer of 2012 but is a Dunwoody native. Before coming on staff, he spent almost 20 years traveling the world as a missionary with Wycliffe Bible Translators. Jeff is married to Elizabeth and has three children, Nicholas, Christian, and Christina.</p>
          </div>
        </div>
        <hr  class="dashed"/>
        <div class="staff-container">
          <div class="staff-image-container">
            <img src="https://dccsiteimages.s3.amazonaws.com/staff/beard.jpg" />
          </div>
          <div class="staff-content-container">
            <h3 class="staff-name">TIM BEARD</h3>
            <div>EXECUTIVE PASTOR</div>
            <div>
              <a href="mailto:tbeard@dunwoodychurch.org">TBEARD@DUNWOODYCHURCH.ORG</a>
            </div>
            <p>After twenty years in numerous pastoral roles at Fellowship Bible Church, the Lord brought Tim to DCC in April, 2018 as the church's Executive Pastor.  Tim and his wife Cindy have two adult children, Zak and Lauren.</p>
          </div>
        </div>
        <hr  class="dashed"/>
        <div class="staff-container">
          <div class="staff-image-container">
            <img src="https://dccsiteimages.s3.amazonaws.com/staff/shetler.jpg" />
          </div>
          <div class="staff-content-container">
            <h3 class="staff-name">JORDAN SHETLER</h3>
            <div>CHILDREN & YOUTH DIRECTOR</div>
            <div>
              <a href="mailto:jshetler@dunwoodychurch.org">JSHETLER@DUNWOODYCHURCH.ORG</a>
            </div>
            <p>Jordan came to DCC with her parents, Mike and Elizabeth, in 1996 and grew up in the church. Jordan graduated from Kennesaw State University in May, 2016 with a degree in Secondary English Education and joined the staff team that August as the Youth Pastor.</p>
          </div>
        </div>
        <hr  class="dashed"/>
        <div class="staff-container">
          <div class="staff-image-container">
            <img src="https://dccsiteimages.s3.amazonaws.com/staff/knabel.jpg" />
          </div>
          <div class="staff-content-container">
            <h3 class="staff-name">JARROD KNABEL</h3>
            <div>PRODUCTION & TECHNICAL DIRECTOR</div>
            <div>
              <a href="mailto:jknabel@dunwoodychurch.org">JKNABEL@DUNWOODYCHURCH.ORG</a>
            </div>
            <p>Jarrod has been on staff at DCC since the spring of 2003. Originally the church's "Sound Guy," Jarrod now handles much of the church's technical and physical needs including audio/visual, sanctuary/stage setup, etc. In addition to working at DCC he runs <a target="_blank" href="http://www.elevenaudio.com/">Eleven Audio</a> studios.</p>
          </div>
        </div>
        </div>
        <hr class="thick"/>
        <div class="elders">
        <h2 class="text-center">Elders</h2>
        <p>DCC has adopted the biblical model of an Elder led church. Throughout the New Testament Elders are the recognized office for leading the church. Our Elders provide oversight and direction for the ministry of DCC. </p>
        <hr />
        <div class="staff-container">
          <div class="staff-image-container">
            <img srcSet="https://dccsiteimages.s3.amazonaws.com/elders/gilmore.jpg" />
          </div>
          <div class="staff-content-container">
            <h3 class="staff-name">DAVE GILMORE</h3>
            <div>
              <a href="mailto:rhartjr@gmail.com">DAVIDGRAHAMGILMORE@ME.COM</a>
            </div>
            <p>Dave Gilmore and his wife LuAnn have been attending DCC since 2007. He has been serving as an elder since the spring of 2013. Dave serves as the Managing Direction of the Tricord Group. When not at work Dave enjoys writing, gardening, and spending time with his grandkids.</p>
          </div>
        </div>
        <hr class="dashed"/>
        <div class="staff-container">
          <div class="staff-image-container">
            <img src="https://dccsiteimages.s3.amazonaws.com/elders/hart.jpg" />
          </div>
          <div class="staff-content-container">
            <h3 class="staff-name">BOB HART</h3>
            <div>
              <a href="mailto:rhartjr@gmail.com">RHARTJR@GMAIL.COM</a>
            </div>
            <p>Bob and his wife Nancy have been attending DCC since 2010. He has been an elder since the spring of 2013. He and Nancy have been married over 30 years and have two grown children: Robert and Rachel. For nearly 25 years Bob has been a money manager and investment specialist serving both individuals and large companies.</p>
          </div>
        </div>
        <hr class="dashed"/>
        <div class="staff-container">
          <div class="staff-image-container">
            <img src="https://dccsiteimages.s3.amazonaws.com/elders/jansen.jpg" />
          </div>
          <div class="staff-content-container">
            <h3 class="staff-name">JEFF JANSEN</h3>
            <div>
              <a href="mailto:jjansen@dunwoodychurch.org">JJANSEN@DUNWOODYCHURCH.ORG</a>
            </div>
            <p>Jeff has been on staff at DCC since the summer of 2012 but is a Dunwoody native. Before coming on staff, he spent almost 20 years traveling the world as a missionary with Wycliffe Bible Translators. Jeff is married to Elizabeth and has three children, Nicholas, Christian, and Christina.</p>
          </div>
        </div>
        <hr class="dashed"/>
        <div class="staff-container">
          <div class="staff-image-container">
            <img src="https://dccsiteimages.s3.amazonaws.com/elders/martin.jpg"/>
          </div>
          <div class="staff-content-container">
            <h3 class="staff-name">MART MARTIN</h3>
            <div>
              <a href="mailto:martpart3@comcast.net">MARTPART3@COMCAST.NET</a>
            </div>
            <p>Mart and his family have been attending DCC since 2005, and he was named an elder in 2011. He leads brand strategy at Jackson Spalding marketing and public relations, helping businesses and organizations identify their purpose, values and brand positioning. He and his wife, LeAnne live in Sandy Springs with daughter Madeline.</p>
          </div>
        </div>
        <hr class="dashed"/>
        <div class="staff-container">
          <div class="staff-image-container">
            <img src="https://dccsiteimages.s3.amazonaws.com/elders/schantz.jpg" />
          </div>
          <div class="staff-content-container">
            <h3 class="staff-name">SHAWN SCHANTZ</h3>
            <div>
              <a href="mailto:shawn.schantz@gmail.com">SHAWN.SCHANTZ@GMAIL.COM</a>
            </div>
            <p>Shawn and his wife Amy have attended DCC since 2010 along with their children, Gabriel, Alice and Eli, who were born (in a span of three minutes!) in 2008.  Originally from Seattle, he has worked as a software developer since 1989.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <DccFooter/>
  </div>
</template>

<script>
import DccNavBar from './DccNavBar';
import DccFooter from './DccFooter';

export default {
  name: "About",
  components: {
    DccNavBar,
    DccFooter
  },
  data() {
    return {};
  },
  created() {},
  methods: {},
  computed: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-title.about {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/about-dcc_banner.jpg");
}

.map-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.map-image-container img {
    width: 160px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.staff-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.staff-image-container img {
    height: 150px;
}

.staff-content-container {
    flex: 1;
}

.staff-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.staff-container:first-of-type {
    padding-top: 10px;
}

.staff-name {
    margin: 0;
}

hr.staff-thin {
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
