<template>
<div>
  <Login v-if="globalState.loggedIn !== 'dccyouth'" title="Teacher Portal" username="dccyouth"/>
  <div v-else>
    <DccNavBar>
      <template slot-scope="links">
        <router-link to="/teacherportal">HOME</router-link>
        <router-link v-if="curriculums" v-for="curriculum in sortedCurriculums" :key="curriculum.id" :class="{active: location.pathname == `/teacherportal/curriculum/${curriculum.id}`}" :to="`/teacherportal/curriculum/${curriculum.id}`">
          {{curriculum.attributes.title.toUpperCase()}}
        </router-link>
        <router-link to="/teacherportal/teams">MEET OUR TEAM</router-link>
      </template>
    </DccNavBar>
    <div class="page-title curriculum">
      <div class="page-title-overlay-container">
        <div class="page-title-overlay"></div>
      </div>
      <div class="page-title-text-container">
        <h1 v-if="selectedCurriculum.attributes" class="text-center page-title-text">{{selectedCurriculum.attributes.title}}</h1>
      </div>
    </div>
    <div v-for="attachment in attachments" :key="attachment.id" class="text-center">
      <a class="curriculum-title" @click="downloadCurriculumLesson(selectedCurriculum.id, attachment.id)">{{attachment.attributes.filename.replace('.pdf', '')}}</a>
    </div>
    <DccFooter/>
  </div>
</div>
</template>

<script>
import {groupBy} from "lodash";
import {globalState} from '../main.js';
import Login from './Login';
import DccNavBar from './DccNavBar';
import DccFooter from './DccFooter';

export default {
  name: "Curriculum",
  components: {
    Login,
    DccNavBar,
    DccFooter
  },
  data() {
    return {
      globalState,
      location,
      curriculums: null,
      error: null,
      loading: false,
      selectedCurriculum: {},
      attachments: [],
      classOrder: {
        'Nursery Teacher': 1,
        'Seedlings 2-3': 2,
        'Dogwoods 4-K': 3,
        "Children's Church Grades 1-5": 4,
      }
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    if(this.globalState.loggedIn === 'dccyouth') {
      this.fetchCurriculums()
    }
  },
  methods: {
    fetchCurriculums() {
      this.error = this.curriculums = {};
      this.loading = true;
      fetch('/api/curriculums', {credentials: 'include'}).then(response => {
        this.loading = false;
        return response.json();
      }).then(data => {
        this.curriculums = data;
        this.selectedCurriculum = data.data.find(curriculum => curriculum.id == this.$route.params.curriculumId);
        this.curriculumLessonsByCurriculumId = groupBy(data.included, attachment => attachment.relationships.attachable.data.id);
        this.selectedCurriculumAttachments = this.curriculumLessonsByCurriculumId[this.selectedCurriculum.id] || [];
        this.attachments = this.selectedCurriculumAttachments.sort((attachment1, attachment2) => parseInt(attachment1.attributes.filename.match(/\d+/g)) - parseInt(attachment2.attributes.filename.match(/\d+/g)));
      }).catch(err => {
        this.error = err.toString();
        // console.err(err);
      });
    },
    downloadCurriculumLesson(mediaId, attachmentId) {
      this.error = {};
      this.loading = true;
      fetch('/api/attachment', {
        method: 'POST',
        body: JSON.stringify({mediaId, attachmentId}),
        headers: {
          'Content-Type': 'application/json'
        },
        credentials: 'include'
      }).then(response => {
        this.loading = false;
        return response.json();
      }).then(data => {
        let link = document.createElement('a');
        link.download = true;
        link.href = data.data.attributes.attachment_url;
        link.click();
      }).catch(err => {
        this.error = err.toString();
        // console.err(err);
      });
    }
  },
  computed: {
    sortedCurriculums: function() {
      if(!this.curriculums.data) {
        return [];
      }

      return this.curriculums.data.slice().sort((curriculum1, curriculum2) => this.classOrder[curriculum1.attributes.themes] - this.classOrder[curriculum2.attributes.themes]);
    }
  },
  watch: {
    'globalState.loggedIn': function(value, oldValue) {
      if (value !== oldValue && value === 'dccyouth') {
        this.fetchCurriculums()
      }
    },
    '$route.params.curriculumId': function() {
      this.selectedCurriculum = this.curriculums.data.find(curriculum => curriculum.id == this.$route.params.curriculumId);
      this.curriculumLessonsByCurriculumId = groupBy(this.curriculums.included, attachment => attachment.relationships.attachable.data.id);
      this.selectedCurriculumAttachments = this.curriculumLessonsByCurriculumId[this.selectedCurriculum.id] || [];
      this.attachments = this.selectedCurriculumAttachments.sort((attachment1, attachment2) => parseInt(attachment1.attributes.filename.match(/\d+/g)) - parseInt(attachment2.attributes.filename.match(/\d+/g)));
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-title.curriculum {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/children-youth_banner.jpg");
}

.curriculum-title {
    font-size: 20px;
    white-space: normal;
    cursor: pointer;
}
</style>
