<template>
<div class="footer-container">
  <div class="footer-row">
    <a target="_blank" class="link-button light" href="https://www.facebook.com/Dunwoody-Community-Church-DCC-143130239076905/">
      <svg xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 167.657 167.657" class="link-button-icon" xmlSpace="preserve">
        <g>
          <path fill="#c5c4c3" d="M83.829,0.349C37.532,0.349,0,37.881,0,84.178c0,41.523,30.222,75.911,69.848,82.57v-65.081H49.626   v-23.42h20.222V60.978c0-20.037,12.238-30.956,30.115-30.956c8.562,0,15.92,0.638,18.056,0.919v20.944l-12.399,0.006   c-9.72,0-11.594,4.618-11.594,11.397v14.947h23.193l-3.025,23.42H94.026v65.653c41.476-5.048,73.631-40.312,73.631-83.154   C167.657,37.881,130.125,0.349,83.829,0.349z"></path>
        </g>
      </svg>&nbsp;<span>VISIT OUR FACEBOOK PAGE</span>
    </a>
    <a target="_blank" class="link-button light" href="https://www.instagram.com/dccpics/">
      <svg xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" class="link-button-icon" xmlSpace="preserve" viewBox="0 0 248 248">
        <g>
          <path fill="#c5c4c3" d="M 96.00,1.15 C 96.00,1.15 198.00,1.15 198.00,1.15 223.91,1.04 245.96,19.21 246.00,46.00 246.00,46.00 246.00,200.00 246.00,200.00 245.96,225.07 226.07,244.96 201.00,245.00 201.00,245.00 47.00,245.00 47.00,245.00 20.26,244.96 2.04,222.86 2.00,197.00 2.00,197.00 2.00,49.00 2.00,49.00 2.04,24.00 17.51,6.02 42.00,1.15 42.00,1.15 96.00,1.15 96.00,1.15 Z M 177.00,29.00 C 177.00,29.00 177.00,71.00 177.00,71.00 177.00,71.00 219.00,71.00 219.00,71.00 219.00,71.00 219.00,28.00 219.00,28.00 219.00,28.00 177.00,29.00 177.00,29.00 Z M 99.00,87.49 C 69.13,109.27 77.23,157.11 114.00,165.76 118.99,166.94 123.90,167.38 129.00,166.71 169.43,161.45 181.14,111.79 151.00,88.53 140.36,80.32 128.95,79.01 116.00,80.30 109.84,81.50 104.09,83.78 99.00,87.49 Z M 25.00,98.00 C 25.00,98.00 25.00,195.00 25.00,195.00 25.03,216.01 36.40,222.97 56.00,223.00 56.00,223.00 193.00,223.00 193.00,223.00 214.44,222.97 223.97,213.44 224.00,192.00 224.00,192.00 224.00,98.00 224.00,98.00 224.00,98.00 186.00,98.00 186.00,98.00 191.37,118.41 194.20,130.59 184.68,151.00 164.74,193.72 106.96,203.52 75.29,167.99 70.25,162.33 65.92,156.00 63.01,149.00 59.57,140.72 58.01,133.97 58.00,125.00 57.97,107.78 59.90,111.64 62.00,98.00 62.00,98.00 25.00,98.00 25.00,98.00 Z" />
        </g>
      </svg>&nbsp;<span>VISIT OUR INSTAGRAM PAGE</span>
    </a>
  </div>
  <div class="footer-row">
    <router-link to="/directory" class="link-button light">
      <svg xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" class="link-button-icon" xmlSpace="preserve">
        <g>
          <path fill="#c5c4c3" d="M 268.00,354.56 C 250.93,366.55 227.75,372.76 207.00,373.00 198.21,373.10 188.42,371.79 180.00,369.28 173.19,367.25 168.01,365.19 162.00,361.30 137.64,345.56 130.47,322.22 127.83,295.00 127.83,295.00 127.01,287.00 127.01,287.00 126.74,274.69 129.88,257.94 133.15,246.00 136.42,234.07 143.42,218.76 149.58,208.00 159.58,190.53 170.98,175.69 186.00,162.17 213.39,137.52 253.07,121.57 290.00,122.00 296.97,122.09 312.22,124.51 319.00,126.43 326.20,128.46 333.42,131.97 341.00,131.97 350.80,131.97 354.40,127.49 363.00,125.16 368.75,123.60 377.49,122.49 380.56,129.04 382.35,132.87 380.82,138.08 379.87,142.00 379.87,142.00 372.13,171.00 372.13,171.00 372.13,171.00 339.88,288.00 339.88,288.00 337.52,296.94 332.04,314.27 333.19,323.00 334.31,331.53 341.50,337.04 350.00,335.33 363.78,332.55 375.30,323.69 385.00,314.00 407.28,291.75 416.40,268.90 423.87,239.00 427.40,224.89 429.10,212.44 430.09,198.00 430.32,194.55 431.08,192.63 430.82,189.00 429.93,176.58 428.97,164.07 425.57,152.00 412.81,106.73 382.43,69.07 336.00,55.86 324.32,52.54 307.07,49.14 295.00,49.00 274.26,48.76 258.19,49.67 238.00,55.43 181.91,71.43 130.69,118.34 103.31,169.00 89.03,195.42 81.09,227.19 78.91,257.00 78.91,257.00 78.00,269.00 78.00,269.00 77.97,289.28 78.73,305.19 84.15,325.00 92.30,354.77 110.81,382.54 134.00,402.71 184.87,446.96 259.99,451.10 320.00,423.69 342.99,413.19 354.19,405.72 375.00,392.00 382.73,386.90 393.23,379.55 403.00,382.65 412.42,385.64 413.05,395.41 408.95,403.00 401.52,416.75 388.09,427.41 375.00,435.58 327.83,465.01 281.72,479.65 226.00,479.00 226.00,479.00 216.00,478.09 216.00,478.09 161.31,474.33 112.47,452.60 75.85,411.00 64.67,398.31 54.69,384.24 47.26,369.00 32.31,338.33 26.61,303.88 27.00,270.00 27.00,270.00 27.91,260.00 27.91,260.00 34.60,162.63 94.06,79.85 182.00,38.22 213.30,23.40 248.30,14.40 283.00,14.00 283.00,14.00 297.00,13.04 297.00,13.04 297.00,13.04 312.00,14.00 312.00,14.00 332.46,14.10 361.29,21.59 380.00,29.86 440.56,56.63 475.18,108.47 478.04,174.00 478.04,174.00 478.99,187.00 478.99,187.00 478.99,187.00 477.96,196.00 477.96,196.00 477.96,196.00 477.96,205.00 477.96,205.00 473.90,246.23 456.09,284.83 430.40,317.00 418.69,331.66 407.73,343.79 392.00,354.33 371.51,368.07 341.54,378.72 317.00,371.41 302.76,367.17 289.10,356.39 290.32,340.00 290.32,340.00 291.00,333.00 291.00,333.00 282.19,342.23 279.09,346.78 268.00,354.56 Z M 285.00,159.00 C 244.16,158.53 214.51,181.27 195.14,216.00 184.34,235.37 177.52,257.72 177.01,280.00 176.88,285.94 178.32,299.37 180.04,305.00 189.47,335.86 228.58,337.70 253.00,324.68 265.54,317.99 276.18,306.79 283.92,295.00 293.53,280.38 298.83,262.51 304.33,246.00 304.33,246.00 319.15,196.00 319.15,196.00 319.15,196.00 326.00,170.00 326.00,170.00 312.94,164.38 299.44,159.17 285.00,159.00 Z" />
        </g>
      </svg>&nbsp;<span>CHURCH DIRECTORY</span>
    </router-link>

    <a class="link-button light" href="mailto:prayer@dunwoodychurch.com">
      <svg xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.357 31.357" class="link-button-icon" xmlSpace="preserve">
        <g>
          <path fill="#c5c4c3" d="M15.679,0C7.033,0,0.001,7.033,0.001,15.678c0,8.646,7.032,15.68,15.678,15.68c8.644,0,15.677-7.033,15.677-15.68    C31.356,7.033,24.323,0,15.679,0z M15.679,28.861c-7.27,0-13.183-5.913-13.183-13.184c0-7.268,5.913-13.183,13.183-13.183    c7.269,0,13.182,5.915,13.182,13.183C28.861,22.948,22.948,28.861,15.679,28.861z"></path>
          <path fill="#c5c4c3" d="M19.243,12.368V7.33c0-0.868-0.703-1.57-1.57-1.57h-3.396c-0.867,0-1.569,0.703-1.569,1.57v5.038h-5.04    c-0.867,0-1.569,0.703-1.569,1.57v3.468c0,0.867,0.702,1.57,1.569,1.57h5.039v5.037c0,0.867,0.702,1.57,1.569,1.57h3.397    c0.866,0,1.569-0.703,1.569-1.57v-5.037h5.038c0.867,0,1.57-0.703,1.57-1.57v-3.468c0-0.868-0.703-1.57-1.57-1.57H19.243z"></path>
        </g>
      </svg>&nbsp;<span>SUBMIT A PRAYER REQUEST</span>
    </a>
    <a target="_blank" class="link-button light" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GW53KUFJN9AYN">
      <svg xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" class="link-button-icon" xmlSpace="preserve" viewBox="0 0 223 183">
        <g>
          <path fill="#c5c4c3" d="M 13.00,33.00 C 13.00,23.53 10.20,4.92 21.00,0.74 23.25,-0.13 26.57,0.00 29.00,0.00 29.00,0.00 168.00,0.00 168.00,0.00 168.00,0.00 194.00,0.00 194.00,0.00 197.48,0.01 200.90,-0.27 203.96,1.74 209.73,5.52 209.99,10.84 210.00,17.00 210.00,17.00 210.00,141.00 210.00,141.00 210.00,141.00 200.00,141.00 200.00,141.00 200.00,141.00 200.00,40.00 200.00,40.00 200.00,40.00 200.00,17.00 200.00,17.00 199.96,14.87 200.05,12.35 198.40,10.74 196.29,8.68 191.77,9.00 189.00,9.00 189.00,9.00 62.00,9.00 62.00,9.00 62.00,9.00 34.00,9.00 34.00,9.00 31.23,9.01 27.56,8.71 25.31,10.60 22.62,12.87 23.01,16.82 23.00,20.00 23.00,20.00 23.00,141.00 23.00,141.00 23.00,141.00 13.00,141.00 13.00,141.00 13.00,141.00 13.00,33.00 13.00,33.00 Z M 187.00,22.00 C 187.00,22.00 187.00,126.00 187.00,126.00 187.00,126.00 36.00,126.00 36.00,126.00 36.00,126.00 36.00,22.00 36.00,22.00 36.00,22.00 187.00,22.00 187.00,22.00 Z M 108.00,45.00 C 106.06,50.87 103.44,49.31 99.09,52.65 95.54,55.37 93.58,59.54 93.46,64.00 93.25,72.03 99.20,76.76 106.00,79.55 108.83,80.71 113.64,81.85 115.54,84.26 120.55,90.61 107.47,88.50 105.00,87.47 105.00,87.47 97.00,84.00 97.00,84.00 97.00,84.00 91.00,94.00 91.00,94.00 104.03,102.39 107.63,97.31 108.00,108.00 108.00,108.00 116.00,108.00 116.00,108.00 116.00,108.00 116.00,100.00 116.00,100.00 132.23,98.49 134.67,81.40 124.91,73.79 118.54,68.82 109.90,68.76 108.03,64.83 106.71,62.05 109.81,60.86 112.02,60.80 115.81,60.72 120.59,63.41 124.00,65.00 124.00,65.00 130.00,55.00 130.00,55.00 120.62,48.36 118.22,51.99 116.00,45.00 116.00,45.00 108.00,45.00 108.00,45.00 Z M 33.00,150.00 C 33.00,150.00 75.00,150.00 75.00,150.00 75.00,150.00 206.00,150.00 206.00,150.00 210.40,150.01 215.17,149.89 218.87,152.70 226.51,158.51 222.60,172.07 216.79,177.79 211.83,182.68 204.55,182.99 198.00,183.00 198.00,183.00 25.00,183.00 25.00,183.00 17.65,182.99 10.69,182.60 5.34,176.82 -1.98,168.91 -3.21,154.46 9.00,150.53 9.00,150.53 33.00,150.00 33.00,150.00 Z M 81.00,175.91 C 92.87,175.91 95.38,158.64 81.00,156.65 66.77,158.62 69.30,175.91 81.00,175.91 Z M 113.00,175.76 C 122.86,174.27 125.03,158.97 112.00,156.78 96.83,157.93 100.49,177.65 113.00,175.76 Z M 142.00,175.91 C 153.87,175.91 156.38,158.64 142.00,156.65 127.77,158.62 130.30,175.91 142.00,175.91 Z" />
        </g>
      </svg>&nbsp;<span>GIVE ONLINE</span>
    </a>
  </div>
  <br/>
  <div class="footer-row">
    &#169; {{new Date().getFullYear()}} Dunwoody Community Church
  </div>
</div>
</template>

<script>
export default {
  name: "DccFooter",
  data() {
    return {};
  },
  created() {},
  methods: {},
  computed: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

    background-color: #36363b;
    color: #c5c4c3;
}

.footer-row {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
</style>
