<template>
<nav>
  <div class="navWide">
    <router-link to="/">
      <img class="navbar-image" height="50px" srcSet="https://dccsiteimages.s3.amazonaws.com/dcc_logo.png" />
    </router-link>
    <div class="wideDiv" @click.capture="burgerToggle()">
      <slot :links="links">
        <router-link :class="{active: location.pathname == '/'}" to="/">Sunday Morning</router-link>
        <router-link :class="{active: location.pathname == '/getinvolved'}" to="/getinvolved">Get Involved</router-link>
        <router-link :class="{active: location.pathname == '/youth'}" to="/youth">Children & Youth</router-link>
        <router-link :class="{active: location.pathname == '/about'}" to="/about">About DCC</router-link>
        <router-link :class="{active: location.pathname == '/events'}" to="/events">Events</router-link>
        <router-link :class="{active: location.pathname == '/give'}" to="/give">Give</router-link>
      </slot>
    </div>
  </div>
  <div class="navNarrow">
    <div class="navNarrowMenu" @click="burgerToggle()">
      <slot name="menu">
        <svg xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" xmlSpace="preserve">
          <g>
            <path d="M316.3,515.3h367.5v-30.6H316.3V515.3z M316.3,392.8h367.5v-30.6H316.3V392.8z M316.3,637.8h367.5v-30.6H316.3V637.8z" />
          </g>
        </svg>
      </slot>
    </div>
    <div class="narrowLinks" :style="{display: open ? 'block' : 'none'}" @click.capture="burgerToggle()">
      <slot :links="links">
        <router-link :class="{active: location.pathname == '/'}" to="/">Sunday Morning</router-link>
        <router-link :class="{active: location.pathname == '/getinvolved'}" to="/getinvolved">Get Involved</router-link>
        <router-link :class="{active: location.pathname == '/youth'}" to="/youth">Children & Youth</router-link>
        <router-link :class="{active: location.pathname == '/about'}" to="/about">About DCC</router-link>
        <router-link :class="{active: location.pathname == '/events'}" to="/events">Events</router-link>
        <router-link :class="{active: location.pathname == '/give'}" to="/give">Give</router-link>
      </slot>
    </div>
  </div>
</nav>
</template>

<script>
export default {
  name: "DccNavBar",
  props: ["links"],
  data() {
    return {
      open: false,
      location,
    };
  },
  created() {
  },
  methods: {
    burgerToggle() {
      this.open = !this.open;
    }
  },
  computed: {
  },
  watch: {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
