<template>
<div class="center-content pad wrap">
  <label for="displayByHousehold" class="pagination-label">Display by Household:</label>
  <input type="checkbox" :checked="displayByHousehold" @click="$emit('changeDisplayByHousehold')"/>
  <label for="per_page" class="pagination-label">Per page:</label>
  <input type="number" min="1" max="100" class="pagination-page" v-model.number="per_page"/>
  <div v-if="per_page" class="pagination-buttons-container">
    <button v-for="(ignoreThis, index) in peopleCountTotal" :key="index" class="pagination-button" :style="getPageButtonStyle(index)" @click="$emit('changeOption', 'offset', index * per_page)">{{index + 1}}</button>
  </div>
</div>
</template>

<script>
export default {
  name: "DirectoryPaginator",
  props: ["peopleCount", "options", "displayByHousehold"],
  data() {
    return {
    };
  },
  created() {
  },
  methods: {
    getPageButtonStyle(index) {
      return index == Math.ceil(this.options.offset / this.per_page) ? {background: '#337ab7', color: 'white'} : {}
    }
  },
  computed: {
    per_page: {
      get: function() {
        return this.options.per_page
      },
      set: function(value) {
        this.$emit('changeOption', 'per_page', Math.max(Math.min(value, 100), 1))
      }
    },
    peopleCountTotal: function() {
      return Array.from({length: Math.ceil(this.peopleCount / this.per_page)}, () => 0)
    }
  },
  watch: {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
