<template>
<div>
  <Login v-if="globalState.loggedIn !== 'dcc'" title="Directory" username="dcc"/>
  <div v-else>
    <DccNavBar/>
    <div class="page-title directory">
      <div class="page-title-overlay-container">
        <div class="page-title-overlay"></div>
      </div>
      <div class="page-title-text-container">
        <h1 class="text-center page-title-text">CHURCH DIRECTORY</h1>
      </div>
    </div>
    <div class="center-content">
      <div class="sort-filter-control">
        <label htmlFor="sort-dropdown">Sort by:</label>
        <select id="sort-dropdown" v-model="options.order" @change="changeOption('order', $event.target.value)">
          <option v-if="!this.displayByHousehold" value="first_name">First Name</option>
          <option v-if="!this.displayByHousehold" value="last_name">Last Name</option>
          <!-- <option v-if="!this.displayByHousehold" value="created_at">Created At</option> -->
          <option v-if="this.displayByHousehold" value="name">Name</option>
          <option v-if="this.displayByHousehold" value="member_count">Member Count</option>
        </select>
      </div>
      <div class="sort-filter-control">
        <input type="text" placeholder="Filter by Name" :value="options['where[search_name]']" @keyup="changeOption('where[search_name]', $event.target.value)"/>
      </div>
    </div>
    <DirectoryPaginator :peopleCount="peopleCount" :options="options" :displayByHousehold="displayByHousehold" @changeDisplayByHousehold="changeDisplayByHousehold" @changeOption="changeOption"/>
    <div v-if="!this.displayByHousehold" class="collection-pane">
      <div v-if="people.included" v-for="person in filteredPeople" :key="person.id" class="collection-item-5">
        <div class="person-name">
          {{person.attributes.first_name}} {{person.attributes.last_name}}
        </div>
        <div class="person-image-container">
          <img :src="`${person.attributes.avatar}?g=200x200%23`" class="person-image" @click="showPersonDialog(person.id)"/>
        </div>
      </div>
    </div>
    <div v-else class="collection-pane">
      <div v-if="households.data" v-for="household in filteredHouseholds" :key="household.id" class="collection-item-5">
        <div class="person-name">
          {{household.attributes.name}} ({{peopleByHouseholdId[household.id].length}})
        </div>
        <div class="person-image-container">
          <div v-if="peopleByHouseholdId[household.id].length > 1" class="household-image" @click="showPersonDialog(household.attributes.primary_contact_id, household.id)">
            <div v-for="person in peopleByHouseholdId[household.id]" :key="person.id">
              <img :src="`${person.attributes.avatar}?g=200x200%23`"/>
            </div>
          </div>
          <img v-else :src="`${peopleByHouseholdId[household.id][0].attributes.avatar}?g=200x200%23`" class="person-image" @click="showPersonDialog(household.attributes.primary_contact_id)"/>
        </div>
      </div>
    </div>
    <DirectoryPaginator :peopleCount="peopleCount" :options="options" :displayByHousehold="displayByHousehold" @changeDisplayByHousehold="changeDisplayByHousehold" @changeOption="changeOption"/>
    <DccFooter/>
  </div>
  <PersonModal v-if="show" @close="show = false" :selectedPerson="selectedPerson" :selectedHousehold="selectedHousehold" :selectedHouseholdId="selectedHouseholdId" @showPersonDialog="showPersonDialog"/>
</div>
</template>

<script>
import {groupBy, mapValues, keyBy, sortBy} from "lodash";
import {globalState} from '../main.js';
import Login from './Login';
import DirectoryPaginator from './DirectoryPaginator';
import PersonModal from './PersonModal';
import DccNavBar from './DccNavBar';
import DccFooter from './DccFooter';

export default {
  name: "Directory",
  components: {
    Login,
    DirectoryPaginator,
    PersonModal,
    DccNavBar,
    DccFooter
  },
  data() {
    return {
      globalState,
      options: {
        order: 'last_name', // first_name, last_name, name, member_count, //// created_at
        'where[search_name]': '', // any part of a name
        per_page: 25, // 0-100
        offset: 0 // skip this many
      },
      secondaryOrder: 'first_name', // first_name, last_name, name, member_count, //// created_at
      displayByHousehold: false,
      selectedPeople: {},
      selectedPersonId: '',
      selectedHouseholdId: '',
      householdLeadersById: {},
      peopleById: {},
      householdLeaders: {},
      households: {},
      people: {},
      show: false
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    if (this.globalState.loggedIn === 'dcc') {
      this.fetchHouseholdLeaders()
      this.fetchHouseholds()
      this.fetchPeople()
    }
  },
  methods: {
    fetchHouseholdLeaders() {
      this.error = {};
      this.loading = true;
      fetch('/api/householdleaders', {credentials: 'include'}).then(response => {
        this.loading = false;
        return response.json();
      }).then(data => {
        this.householdLeaders = data;
        this.householdLeadersById = groupBy(this.householdLeaders.included, householdLeader => householdLeader.id);
      }).catch(err => {
        this.error = err.toString();
        // console.err(err);
      });
    },
    fetchHouseholds() {
      this.error = {};
      this.loading = true;
      fetch('/api/households', {credentials: 'include'}).then(response => {
        this.loading = false;
        return response.json();
      }).then(data => {
        this.households = data;
      }).catch(err => {
        this.error = err.toString();
        // console.err(err);
      });
    },
    fetchPeople() {
      this.error = {};
      this.loading = true;
      fetch('/api/people', {credentials: 'include'}).then(response => {
        this.loading = false;
        return response.json();
      }).then(data => {
        this.people = data;
        this.peopleById = keyBy(this.people.included, person => person.id);
      }).catch(err => {
        this.error = err.toString();
        // console.err(err);
      });
    },
    updateHouseholds() {
      this.households.data = this.households.data ? this.households.data.filter(household => this.householdLeadersById[household.attributes.primary_contact_id]) : this.households.data;

      if (this.households.data && this.peopleByHouseholdId) {
        this.households.data.forEach(household => {household.attributes.member_count = this.peopleByHouseholdId[household.id].length});
      }
    },
    changeDisplayByHousehold() {
      this.displayByHousehold = !this.displayByHousehold
      this.options.order = this.displayByHousehold ? 'name' : 'last_name'
      this.secondaryOrder = this.displayByHousehold ? 'member_count' : 'first_name'
      this.options.offset = 0
    },
    changeOption(key, value) {
      let newOptions = {...this.options, [key]: value}
      if(key == 'per_page' || key == 'where[search_name]') {
        newOptions.offset = 0;
      }
      if(key == 'order') {
        if (this.displayByHousehold) {
          this.secondaryOrder = this.secondaryOrder == 'name' ? 'member_count' : 'name';
        } else {
          this.secondaryOrder = this.secondaryOrder == 'first_name' ? 'last_name' : 'first_name';
        }
      }

      this.options = newOptions;
    },
    showPersonDialog(personId, householdId) {
      if(!this.selectedPeople[personId]) {
        fetch(`/api/people/${personId}`, {credentials: 'include'}).then(response => {
          return response.json();
        }).then(data => {
          this.selectedPeople[data.data.id] = data;
          this.selectedPersonId = data.data.id;
          this.selectedHouseholdId = householdId;
          this.show = true
        }).catch(err => {
          this.err = err.toString()
          // console.log('parsing failed', err)
        });
      } else {
        this.selectedPersonId = personId;
        this.selectedHouseholdId = householdId;
        this.show = true;
      }
    }
  },
  computed: {
    selectedPerson: function() {
      return this.selectedPeople[this.selectedPersonId];
    },
    selectedHousehold: function() {
      return this.peopleByHouseholdId[this.selectedHouseholdId] || []
    },
    filteredPeople: function() {
      return sortBy(this.people.included, [o => o.attributes[this.options.order], o => o.attributes[this.secondaryOrder]])
        .filter(person => person.attributes[this.options.order].toLowerCase().startsWith(this.options['where[search_name]'].toLowerCase()))
        .slice(this.options.offset, this.options.offset + this.options.per_page)
    },
    filteredHouseholds: function() {
      return sortBy(this.households.data, [o => typeof o.attributes[this.options.order] == 'number' ? -o.attributes[this.options.order] : o.attributes[this.options.order], o => o.attributes[this.secondaryOrder]])
        .filter(household => household.attributes.name.toLowerCase().startsWith(this.options['where[search_name]'].toLowerCase()))
        .slice(this.options.offset, this.options.offset + this.options.per_page)
    },
    peopleByHouseholdId: function() {
      if (!this.households.data) {
        return {}
      }

      return mapValues(keyBy(this.households.data, household => household.id), household => household.relationships.people.data.filter(person => this.peopleById[person.id]).map(person => this.peopleById[person.id]))
    },
    peopleCount: function() {
      if (!this.displayByHousehold && !this.people.data || this.displayByHousehold && !this.households.data) {
        return 0
      }

      return this.displayByHousehold ? this.households.data.filter(household => household.attributes.name.toLowerCase().startsWith(this.options['where[search_name]'].toLowerCase())).length : this.people.included.filter(person => person.attributes[this.options.order].toLowerCase().startsWith(this.options['where[search_name]'].toLowerCase())).length;
    }
  },
  watch: {
    'globalState.loggedIn': function(value, oldValue) {
      if (value !== oldValue && value === 'dcc') {
        this.fetchHouseholdLeaders()
        this.fetchHouseholds()
        this.fetchPeople()
      }
    },
    peopleCount: function() {
      this.updateHouseholds()
    },
    householdLeadersById: function() {
      this.updateHouseholds()
    },
    households: function() {
      this.updateHouseholds()
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-title.directory {
  background-position: center top;
  background-image: url("https://dccsiteimages.s3.amazonaws.com/directory_banner.jpg");
}

.sort-filter-control {
  padding: 15px;
}

.person-name {
  flex: 1;
}

.person-image-container {
  flex: 1;
}

.person-image {
  width: 136px;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 0px;
}

.household-image {
  width: 136px;
  height: 136px;
  border: 1px solid #36363b;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.household-image div {
  padding: 2.5px;
}

.household-image div > img {
  margin-bottom: 0;
  width: 62px;
}
</style>
