<template>
<div>
  <DccNavBar/>
  <div class="page-title events">
    <div class="page-title-overlay-container">
      <div class="page-title-overlay"></div>
    </div>
    <div class="page-title-text-container">
      <h1 class="text-center page-title-text">What's Happening at DCC</h1>
    </div>
  </div>
  <div class="split-pane-container reverse">
    <div class="split-pane-left">
      <h2 class="text-center">Regular Events</h2>
      <div class="center-content column">
        <div class="pad">
          <label>Display by:</label>
          <select value={this.state.display} v-model="display">
            <option value="date">Date</option>
            <option value="event">Event</option>
            <option value="weekday">Weekday</option>
          </select>
        </div>
      </div>
      <hr/>
      <div v-if="loading" class="loading">
        Loading...
      </div>

      <div v-if="error" class="error">
        {{ error }}
      </div>

      <div v-if="churchEvents" class="content">
        <div v-if="display === 'event'">
          <div v-for="(dates, eventId) in churchDatesByEventType" :key="eventId">
            <div class="split-pane-container center-content">
              <div class="event-image-container">
                <img class="event-image" :src="getEventPicture(churchEventsEventType[eventId])" />
              </div>
              <div class="event-details-container">
                <div class="event-title">
                  {{getEventName(churchEventsEventType[eventId])}}
                </div>
                <div class="event-details" v-html="getEventDetails(churchEventsEventType[eventId])"></div>
                <div v-for="date in dates" class="event-date" :key="date">
                  {{date}}
                </div>
              </div>
            </div>
            <hr v-if="isLastEvent(eventId, churchDatesByEventType)" />
          </div>
        </div>
        <div v-if="display === 'weekday'">
          <div v-for="(events, day) in churchEventsByWeekday" :key="day">
            <h3>Upcoming {{day}}s</h3>
            <div v-for="(event, index) in events" :key="index">
              <div class="split-pane-container center-content">
                <div class="event-image-container">
                  <img class="event-image" :src="getEventPicture(churchEventsEventType[event.relationships.event.data.id])" />
                </div>
                <div class="event-details-container">
                  <div class="event-date">
                    {{getEventDate(event)}}
                  </div>
                  <div class="event-title">
                    {{getEventName(churchEventsEventType[event.relationships.event.data.id])}}
                  </div>
                  <div class="event-details" v-html="getEventDetails(churchEventsEventType[event.relationships.event.data.id])"></div>
                </div>
              </div>
              <hr v-if="index != events.length - 1" class="thin dashed" />
            </div>
            <hr v-if="isLastEvent(day, churchEventsByWeekday)" />
          </div>
        </div>
        <div v-if="display === 'date'">
          <div v-for="(events, date) in churchEventsByDate" :key="date">
            <h3>{{date}}</h3>
            <div v-for="(event, index) in events" :key="index">
              <div class="split-pane-container center-content">
                <div class="event-image-container">
                  <img class="event-image" :src="getEventPicture(churchEventsEventType[event.relationships.event.data.id])" />
                </div>
                <div class="event-details-container">
                  <div class="event-date">
                    {{getEventDate(event)}}
                  </div>
                  <div class="event-title">
                    {{getEventName(churchEventsEventType[event.relationships.event.data.id])}}
                  </div>
                  <div class="event-details" v-html="getEventDetails(churchEventsEventType[event.relationships.event.data.id])"></div>
                </div>
              </div>
              <hr v-if="index != events.length - 1" class="thin dashed" />
            </div>
            <hr v-if="isLastEvent(date, churchEventsByDate)" />
          </div>
        </div>
      </div>
    </div>
    <div class="split-pane-right">
      <h2 class="text-center">Special Events</h2>
      <div class="center-content column special-events-padding">
        <div class="pad">
          <label>Display by:</label>
          <select value="date">
            <option value="date">Date</option>
            <option value="event">Event</option>
            <option value="weekday">Weekday</option>
          </select>
        </div>
      </div>
      <hr/>
      <div v-if="loading" class="loading">
        Loading...
      </div>

      <div v-if="error" class="error">
        {{ error }}
      </div>

      <div v-if="specialEvents" class="content">
        <div v-for="event in specialEvents.data" :key="event.relationships.event.data.id">
          <div class="split-pane-container center-content">
            <div class="event-image-container">
              <img class="event-image" :src="getEventPicture(specialEventsEventType[event.relationships.event.data.id])" />
            </div>
            <div class="event-details-container">
              <div class="event-date">
                {{getEventDate(event, true)}}
              </div>
              <div class="event-title">
                {{getEventName(specialEventsEventType[event.relationships.event.data.id])}}
              </div>
              <div class="event-details" v-html="getEventDetails(specialEventsEventType[event.relationships.event.data.id])"></div>
            </div>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </div>
  <DccFooter/>
</div>
</template>

<script>
import moment from "moment";
import { keyBy, groupBy, mapValues, keys, last, get } from "lodash";
import md from "../lib/markdown";
import DccNavBar from "./DccNavBar";
import DccFooter from "./DccFooter";

export default {
  name: "Events",
  components: {
    DccNavBar,
    DccFooter
  },
  data() {
    return {
      display: "date",
      churchEvents: null,
      specialEvents: null,
      error: null,
      loading: false,
      churchEventsEventType: null,
      churchEventsByDate: null,
      churchEventsByWeekday: null,
      churchDatesByEventType: null,
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchChurchEvents();
    this.fetchSpecialEvents();
  },
  methods: {
    fetchChurchEvents() {
      this.error = this.churchEvents = null;
      this.loading = true;
      // replace `getPost` with your data fetching util / API wrapper
      fetch(`/api/events/church`)
        .then(response => {
          this.loading = false;
          return response.json();
        })
        .then(data => {
          this.churchEvents = data;
          this.churchEventsEventType = keyBy(this.churchEvents.included, event => event.id);
          this.churchEventsByDate = groupBy(this.churchEvents.data, booking =>
            moment(booking.attributes.starts_at).format("dddd, MMM D")
          );
          this.churchEventsByWeekday = groupBy(this.churchEvents.data, booking =>
            moment(booking.attributes.starts_at).format("dddd")
          );
          this.churchDatesByEventType = mapValues(
            groupBy(
              this.churchEvents.data,
              booking => booking.relationships.event.data.id
            ),
            bookings =>
              bookings.map(
                booking =>
                  `${moment(booking.attributes.starts_at).format(
                    "dddd, MMM D h:mma"
                  )} - ${
                    moment(booking.attributes.starts_at).format("MM/DD/YYYY") ==
                    moment(booking.attributes.ends_at).format("MM/DD/YYYY")
                      ? moment(booking.attributes.ends_at).format("h:mma")
                      : moment(booking.attributes.ends_at).format(
                          "dddd, MMM D h:mma"
                        )
                  }`
              )
          );
        })
        .catch(err => {
          this.error = err.toString();
          // console.error(err)
        });
    },
    fetchSpecialEvents() {
      this.error = this.specialEvents = null;
      this.loading = true;
      // replace `getPost` with your data fetching util / API wrapper
      fetch(`/api/events/special`)
        .then(response => {
          this.loading = false;
          return response.json();
        })
        .then(data => {
          this.specialEvents = data;
          this.specialEventsEventType = keyBy(this.specialEvents.included, event => event.id);
        })
        .catch(err => {
          this.error = err.toString();
          // console.error(err)
        });
    },
    getEventPicture(event) {
      return get(
        event,
        'relationships.attachments.data[0].attributes.url',
        'https://dccsiteimages.s3.amazonaws.com/dcc_logo.png'
      );
    },
    getEventName(event) {
      return event.attributes.name;
    },
    getEventDetails(event) {
      return md.render(event.attributes.details);
    },
    getEventDate(event, isSpecialEvent) {
      if (isSpecialEvent) {
        return `${moment(event.attributes.starts_at).format('dddd, MMM D @ h:mma')} - ${moment(event.attributes.starts_at).format('MM/DD/YYYY') == moment(event.attributes.ends_at).format('MM/DD/YYYY') ? moment(event.attributes.ends_at).format('h:mma') : moment(event.attributes.ends_at).format('dddd, MMM D @ h:mma')}`
      }

      if (this.display === 'date') {
        return `${moment(event.attributes.starts_at).format('h:mma')} - ${moment(event.attributes.starts_at).format('MM/DD/YYYY') == moment(event.attributes.ends_at).format('MM/DD/YYYY') ? moment(event.attributes.ends_at).format('h:mma') : moment(event.attributes.ends_at).format('MMM D h:mma')}`
      }

      return `${moment(event.attributes.starts_at).format('MMM D @ h:mma')} - ${moment(event.attributes.starts_at).format('MM/DD/YYYY') == moment(event.attributes.ends_at).format('MM/DD/YYYY') ? moment(event.attributes.ends_at).format('h:mma') : moment(event.attributes.ends_at).format('MMM D @ h:mma')}`
    },
    isLastEvent(key, events) {
      return key != last(keys(events));
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-title.events {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/events_banner.jpg");
}

.event-container {
    display: flex;
    align-items: center;
    border: 1px solid #36363b;
    padding: 15px;
}

.event-info-link {
    margin-top: 10px;
    padding-left: 10px;
}

.event-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 108px;
}

.event-image {
    width: 100px;
    border: none;
    margin: 0px;
}

.event-date {
    letter-spacing: 0.01em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}

.event-details-container {
    padding: 10px 0px 10px 20px;
    flex: 1 1 70%;
}

.event-title {
    letter-spacing: 0.01em;
    font-size: 1.5em;
    text-align: center;
}

.event-details {
    letter-spacing: 0.01em;
    font-size: 1.25em;
    text-align: center;
    padding-bottom: 10px;
}

.event-details p {
    margin-top: 5px;
}

.special-events-padding {
  visibility: visible;
  display: none;
}
@media screen and (min-width: 690px) {
    .special-events-padding {
      visibility: hidden;
      display: block;
    }
}
</style>
