<template>
<div>
  <DccNavBar/>
  <div class="page-title get-involved">
    <div class="page-title-overlay-container">
      <div class="page-title-overlay"></div>
    </div>
    <div class="page-title-text-container">
      <h1 class="text-center page-title-text">GET INVOLVED</h1>
    </div>
  </div>
  <div class="split-pane-container">
    <div class="split-pane-left">
      <h2 class="text-center">Connect with a Small Group</h2>
      <p> Small Groups are the next step in discipleship and connection at DCC. Where Sunday mornings offer a chance to be with Jesus, Small Groups encourage us to <b>be like Jesus</b>. Small Groups foster authentic community and personal accountability as we walk together through life. We have Small Groups meeting all around the Dunwoody/Sandy Springs Panhandle areas almost every day of the week.  Check out our available small groups below and pray about which one is right for you.</p>
      <p>You can download our <a target="_blank" href="https://dccsiteimages.s3.amazonaws.com/files/smallgroups.pdf">Small Groups Brochure</a> to get more information on the groups.  You can also click on the leaders' names to email them directly.  Or check out the <a href="/events">Events Page</a> to see exactly when different groups meet.</p>
      <hr class="dashed"/>
      <div class="small-group-container">
        <div class="small-group-image-container">
          <img src="https://dccsiteimages.s3.amazonaws.com/smallgroups/blomgren.jpg"/>
        </div>
        <div class="small-group-info-container">
          <h4><a href="mailto:brianwblomgren@gmail.com">BRIAN & DEBBIE BLOMGREN</a></h4>
          <div>WHO: Families<br/>WHEN: Bi-weekly Saturday Nights 5:30-8:30 PM<br/>WHERE: Blomgren’s House in North Sandy Springs</div>
        </div>
      </div>
      <div class="small-group-container">
        <div class="small-group-image-container">
            <img src="https://dccsiteimages.s3.amazonaws.com/smallgroups/wallace.jpg"/>
        </div>
        <div class="small-group-info-container">
          <h4><a href="mailto:drewwwallace@gmail.com">DREW & JENN WALLACE</a></h4>
          <div>WHO: Young Adults<br/>WHEN: Weekly Thursday Nights 7:30 PM<br/>WHERE: Café 1820 at DCC</div>
        </div>
      </div>
      <div class="small-group-container">
        <div class="small-group-image-container">
          <img src="https://dccsiteimages.s3.amazonaws.com/smallgroups/eda.jpg"/>
        </div>
        <div class="small-group-info-container">
          <h4><a href="mailto:edabea@att.net">EDA BEACHAM</a></h4>
          <div>
            <img src="https://dccsiteimages.s3.amazonaws.com/OFF.png" class="borderless"/>
            <!-- <span>WHO: Women<br/>WHEN: Bi-weekly Wednesday nights<br/>WHERE: Eda’s Home in Dunwoody</span> -->
          </div>
        </div>
      </div>
      <div class="small-group-container">
        <div class="small-group-image-container">
          <img src="https://dccsiteimages.s3.amazonaws.com/smallgroups/hart.jpg"/>
        </div>
        <div class="small-group-info-container">
          <h4><a href="mailto:rhartjr@gmail.com">BOB HART</a></h4>
          <div>WHO: Men<br/>WHEN: Sundays 9:15-10:15 AM<br/>WHERE: the Conference Room at DCC</div>
        </div>
      </div>
      <div class="small-group-container">
        <div class="small-group-image-container">
          <img src="https://dccsiteimages.s3.amazonaws.com/smallgroups/marshall.jpg" />
        </div>
        <div class="small-group-info-container">
          <h4><a href="mailto:kelleywm@comcast.net">DAVE & KELLEY MARSHALL</a></h4>
          <div>WHO: Anyone<br/>WHEN: Bi-weekly Wednesday nights 7-9 PM<br/>WHERE: the Marshalls' home in Dunwoody</div>
        </div>
      </div>
      <div class="small-group-container">
        <div class="small-group-image-container">
          <img src="https://dccsiteimages.s3.amazonaws.com/smallgroups/wanamaker.jpg" />
        </div>
        <div class="small-group-info-container">
          <h4><a href="mailto:archie@crimandassociates.com">ARCHIE & MAXANN WANAMAKER</a></h4>
          <div>
            <img src="https://dccsiteimages.s3.amazonaws.com/OFF.png" class="borderless"/>
            <!-- <span>WHO: Anyone<br/>WHEN: Bi-weekly Thursday nights 7-9 PM<br/>WHERE: the Wanamakers' home in Dunwoody</span> -->
          </div>
        </div>
      </div>
      <div class="small-group-container">
        <div class="small-group-image-container">
          <img src="https://dccsiteimages.s3.amazonaws.com/smallgroups/jansen.jpg"/>
        </div>
        <div class="small-group-info-container">
          <h4><a href="mailto:jjansen@dunwoodychurch.org">JONAS & TABETHA MCCRACKEN, JEFF & ELIZABETH JANSEN</a><br/><span>(and Scruffy the Wonder Dog)</span></h4>
          <div>
            <img src="https://dccsiteimages.s3.amazonaws.com/OFF.png" class="borderless"/>
            <!-- <span>WHO: Anyone<br/>WHEN: First & Third Saturdays of each month<br/>WHERE: the Jansens' home in Dunwoody</span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="split-pane-right">
      <h2 class="text-center">Serve on a Ministry Team</h2>
      <p>Ministry Teams give disciples of Jesus an opportunity to do what Jesus did here at DCC. Whether they are engaging in practical service or spiritual leadership, our volunteers are the hands and feet of Jesus to those who walk through our doors on Sunday morning. Click on the links below to email us and find out more about engaging in sacrificial service here at DCC.</p>
      <div class="split-pane-container">
        <div class="split-pane-simple">
          <h5 class="text-center">Spiritual Leadership</h5>
          <ul>
            <li><a href="mailto:jshetler@dunwoodychurch.org">Children's Teacher</a></li>
            <li><a href="mailto:jshetler@dunwoodychurch.org">Youth Ministry Mentor</a></li>
            <li><a href="mailto:tbeard@dunwoodychurch.org">Worship Team</a></li>
            <li><a href="mailto:jjansen@dunwoodychurch.org">Small Group Leader</a></li>
            <li><a href="mailto:jjansen@dunwoodychurch.org">Connections (Greeters) Team</a></li>
          </ul>
        </div>
        <div class="split-pane-simple">
          <h5 class="text-center">Practical Service</h5>
          <ul>
            <li><a href="mailto:jjansen@dunwoodychurch.org">Audio/Visual</a></li>
            <li><a href="mailto:jjansen@dunwoodychurch.org">Cleaning</a></li>
            <li><a href="mailto:rhansenpe@att.net">Landscaping</a></li>
            <li><a href="mailto:tbeard@dunwoodychurch.org">Have a skill you’d like to use at DCC? Let us know about it!</a></li>
          </ul>
        </div>
      </div>
      <hr/>
      <div>
        <h2 class="text-center">Volunteer with Our Partners</h2>
        <p>
          Disciples of Christ have a missional mindset; they look outwards and seek to do what Jesus did everywhere they go. Check out our partner organizations for ways to engage in our community for the Kingdom.
        </p>
        <ul>
          <li><a target="_blank" href="https://hopenowusa.org/">Hope Now</a></li>
          <li><a target="_blank" href="https://ccmatlanta.org/volunteer/">Cross-Cultural Ministries</a></li>
          <li><a target="_blank" href="http://www.ourcac.org/volunteer/">Community Action Center</a></li>
        </ul>
      </div>
      <hr/>
      <div>
        <h2 class="text-center">Pray with our Church Family</h2>
        <p>Prayer is the most important thing we do at DCC. We have teams who regularly meet to thank our Father, acknowledge His Lordship, and ask Him to provide for our needs. They would love to have you join them!</p>
        <table class="prayer"><tbody>
          <tr>
            <td>Sundays at 9:30 AM<br/>in the Resource Room<br/><i>Everyone Welcome</i></td>
            <!-- <td>Mondays at 5:00 PM<br/>in the Conference Room<br/><i>Everyone Welcome</i></td> -->
            <td>Tuesdays at 10:00 AM<br/>in Café 1820<br/><i>Women's Group</i></td>
          </tr>
        </tbody></table>
        <p>Before you come, please call (<a href="tel:7703968600">770-396-8600</a>) or <a href="mailto:info@dunwoodychurch.org">email</a> the church office to confirm that the prayer meeting is scheduled for that day.</p>

      </div>
      <hr/>
      <div>
        <h2 class="text-center">Check Out our Missionaries</h2>
        <p>These are the missionaries whom our church supports corporately by giving, praying, and going.  Check out the links to their ministries to learn more about what they are doing for the kingdom and why we are behind them.</p>
        <div class="split-pane-container">
          <div class="split-pane-simple">
          <h5 class="text-center">Local and National</h5>
          <ul>
            <li>Cliff and Judy Anderson - Waxhaw, NC<br/><a target="_blank" href="https://jaars.org/technology/new">JAARS</a> (Wycliffe Bible Translators)</li>
            <li>Virginia Cosgrove - Atlanta, GA<br/><a target="_blank" href="https://ccmatlanta.org/">Cross-Cultural Ministries</a></li>
            <li>Paul Dzubinski - Los Angeles, CA<br/><a target="_blank" href="https://www.frontierventures.org/">Frontier Ventures</a></li>
          </ul>
          </div>
          <div class="split-pane-simple">
          <h5 class="text-center">International</h5>
          <ul>
            <li>Cyndee Knight - Ukraine<br/><a target="_blank" href="https://hopenowusa.org/">Hope Now</a></li>
            <li>Joseph and Esther Tan - East Asia<br/><a target="_blank" href="https://afci.us/">Ambassadors for Christ</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <DccFooter/>
</div>
</template>

<script>
import DccNavBar from './DccNavBar';
import DccFooter from './DccFooter';

export default {
  name: "GetInvolved",
  components: {
    DccNavBar,
    DccFooter
  },
  data() {
    return {};
  },
  created() {},
  methods: {},
  computed: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-title.get-involved {
  background-position: center top;
  background-image: url("https://dccsiteimages.s3.amazonaws.com/get-involved_banner.jpg");
}

.small-group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.small-group-info-container {
  flex: 1 1 65%;
}

.small-group-image-container {
    flex: 1 1 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-group-image-container img {
  width: 120px;
  margin-bottom: 4px;
}

.small-group-info-container span {
  font-size: 0.6em;
}

.small-group-info-container h4 {
  margin-top: 4px;
}

table.prayer {
  width: 98%;
  margin: 10px;
}

table.prayer td {
  border: 1px solid #36363b;
  background: #dedddb;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
</style>
