<template>
  <div>
    <DccNavBar/>
    <div class="page-title gifts">
      <div class="page-title-overlay-container">
        <div class="page-title-overlay"></div>
      </div>
      <div class="page-title-text-container">
        <h1 class="text-center page-title-text">Spiritual Gifts Sermon Images</h1>
      </div>
    </div>
    <div>
      <div class="split-pane-container">
        <div class="split-pane-left">
          <h2 class="text-center">Images "Scrolling In" and Files</h2>
          <p>These are the images that accompanied the sermon on Spiritual Gifts from Romans 12.  On this side are the images that were shown as we "scrolled in".  (These images have been scaled down for the website.  You can't actually scroll in on them and see the details.)</p><p>Scroll down for links to the Spiritual Gifts Assessment sheets referenced in the message.</p>
          <div class="text-center margin-top">
            <h4>Original Image</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/1x.jpg" width="100%"/>
            <h4>2X magnification</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/2x.jpg" width="100%"/>
            <h4>4X magnification</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/4x.jpg" width="100%"/>
            <h4>8X magnification</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/8x.jpg" width="100%"/>
            <h4>16X magnification</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/16x.jpg" width="100%"/>
          </div>
          <hr />
          <div class="text-center margin-top">
            <p>Here are links to the Spiritual Gifts assessment documents that we made available during the service.</p>
            <p><a href="http://www.kodachrome.org/spiritgift/Spiritual-Gifts-Test-28.doc">Spiritual Gifts Assessment For Adults</a></p>
            <p><a href="http://www.kodachrome.org/spiritgiftyouth/Youth-Spiritual-Gifts-Test.doc">Spiritual Gifts Assessment For Youth</a></p>
          </div>
          <hr />
        </div>
        <div class="split-pane-right">
          <h2 class="text-center">Images of "Removing People"</h2>
          <p>These are the images that accompanied the sermon on Spiritual Gifts from Romans 12.  On this side are the images that show what the picture looks like if we remove individual people from the total image.</p>
          <div class="text-center margin-top">
            <h4>Original Image</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/1x.jpg" width="100%"/>
            <h4>One person removed</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/minus1.jpg" width="100%"/>
            <h4>One person removed (magnified)</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/minus1close.jpg" width="100%"/>
            <h4>5% of people removed</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/minus5per.jpg" width="100%"/>
            <h4>10% of people removed</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/minus10per.jpg" width="100%"/>
            <h4>25% of people removed</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/minus25per.jpg" width="100%"/>
            <h4>50% of people removed</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/minus50per.jpg" width="100%"/>
            <h4>80% of people removed</h4>
            <img src="https://dccsiteimages.s3.amazonaws.com/gifts/minus80per.jpg" width="100%"/>
          </div>
        </div>
      </div>
    </div>
    <DccFooter/>
  </div>
</template>

<script>
import DccNavBar from './DccNavBar';
import DccFooter from './DccFooter';

export default {
  name: 'Gifts',
  components: {
    DccNavBar,
    DccFooter
  },
  data() {
    return {};
  },
  created() {},
  methods: {},
  computed: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-title.gifts {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/gifts_banner.jpg");
}
</style>
