<template>
<div>
  <DccNavBar/>
  <div class="page-title give">
    <div class="page-title-overlay-container">
      <div class="page-title-overlay"></div>
    </div>
    <div class="page-title-text-container">
      <h1 class="text-center page-title-text">GIVING</h1>
    </div>
  </div>
  <div>
    <div class="split-pane-container">
      <div class="split-pane-left">
        <h2 class="text-center">How To Give</h2>
        <p>Our ministry is financially supported by the people of our church. We take a formal offering the last Sunday of each month.  In addition, you can drop your financial gift in one of the offering boxes located throughout the building, or you can make a secure online donation through the button below. </p>
        <div class="text-center margin-top">
          <a class="link-button big" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GW53KUFJN9AYN">GIVE ONLINE</a>
        </div>
      </div>
      <div class="split-pane-right">
        <div class="text-center amazon">
          <img src="https://dccsiteimages.s3.amazonaws.com/amazon_smiles.png" alt="Amazon Smiles"/>
          <p class="amazon">Amazon Smile is an initiative by on-line retailer Amazon.com that donates 0.5% of every purchase to the charity of your choice. <a target="_blank" href="https://smile.amazon.com/ch/58-1303244">Click HERE to select Dunwoody Community Church as your charity of choice.</a>  Then whenever you visit Amazon, log-on at <a target="_blank" href="https://smile.amazon.com">smile.amazon.com</a> rather than <i>www.amazon.com</i> and half a percent of your purchases will be donated to the church.</p>
        </div>
      </div>
    </div>
  </div>
  <DccFooter/>
</div>
</template>

<script>
import DccNavBar from './DccNavBar';
import DccFooter from './DccFooter';

export default {
  name: "Give",
  components: {
    DccNavBar,
    DccFooter
  },
  data() {
    return {};
  },
  created() {},
  methods: {},
  computed: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-title.give {
  background-position: center top;
  background-image: url("https://dccsiteimages.s3.amazonaws.com/give_banner.jpg");
}

.amazon img {
  border: none;
  height: 85px;
}

.link-button.big {
  font-size: 2em;
  text-decoration: none;
}
</style>
