<template>
<div>
  <DccNavBar/>
  <div class="page-title home">
    <div class="page-title-overlay-container">
      <div class="page-title-overlay"></div>
    </div>
    <div class="page-title-text-container">
      <h1 class="text-center page-title-text">JOIN US SUNDAY MORNING AT 10:30</h1>
    </div>
  </div>
  <div class="split-pane-container">
    <div class="split-pane-left">
      <div>
        <h2 class="text-center">WHAT TO EXPECT</h2>
        <hr/>
        <div class="center-content">
          <img src="https://dccsiteimages.s3.amazonaws.com/home_expect.jpg" width="100%" />
        </div>
        <p>
          Sunday morning at DCC is all about connection. Whether through Scripture, prayer, music, or teaching, our goal is to give you opportunities to engage with God on a personal level. We want to <b>be with Jesus</b> together, so that we <b>become like Jesus</b>, in order to <b>do what Jesus did</b>. At the end of our Sunday morning service, we hope you will leave with a deeper understanding of what it means to be a disciple of Jesus Christ.
        </p>
        <p>
          Come as you are, ready for fellowship and worship. Greet our Connections Team, check in your kids in our Children’s Hall, and grab a cup of coffee from Café 1820 before our service starts at 10:30 AM. We look forward to meeting you!
        </p>
      </div>

      <hr/>
      <div>
        <h2 class="text-center">Time and Location</h2>
        <div class="location-container">
          <div class="location-image-container">
          <a target="_blank" href="https://www.google.com/maps/place/2250+Dunwoody+Club+Dr,+Atlanta,+GA+30350/"><img width="220px" src="https://dccsiteimages.s3.amazonaws.com/map.jpg"/></a>
          </div>
          <div class="location-info-container">
          <p><b>Our regular Sunday Service begins at 10:30 AM.</b><br/>
          There's a Children's program and a Nursery for the young ones.<br/>
          A Cry Room is available as well in the back of the sanctuary.</p>
          <p>We are located at:<br/>
            <b>2250 Dunwoody Club Dr.<br/>Atlanta, GA 30350</b></p>
          <p>Phone: <a href="tel:7703968600">770-396-8600</a><br/>
            Email: <a href="mailto:info@dunwoodychurch.org">info@dunwoodychurch.org</a></p>
          <p>Map: <a target="_blank" href="https://www.google.com/maps/place/2250+Dunwoody+Club+Dr,+Atlanta,+GA+30350/">2250 Dunwoody Club Dr., Atlanta, GA 30350-5408</a></p>
          <p>Our office is open Monday - Thursday from 9:30am to 4:30pm.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="split-pane-right">
    <h2 class="text-center">WHAT YOU'LL HEAR</h2>
      <hr/>
      <div class="home-media-container">
        <div class="home-media-title-container">
          <div v-if="loading" class="loading">
            Loading...
          </div>

          <div v-if="error" class="error">
            {{ error }}
          </div>

          <div v-if="media" class="content">
            <h3 class="text-center">Current Sermon Series: {{sermonSeries}}</h3>
          </div>
          <router-link to="/media" class="link-button">More</router-link>
        </div>
        <div v-if="media" class="home-media-content-container with-overlay">
          <img :src="media.rss.channel.item[0]['itunes:image'].href" width="300px"/>
          <div v-if="!sermon" class="home-media-overlay-container" @click="sermon = true">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 96 96" width="150px">
              <g>
                <polygon id="XMLID_3_" fill="rgba(255, 255, 255, 0.9)" points="20.9,15.5 20.9,80.5 75.1,48  "/>
              </g>
            </svg>
          </div>
          <audio v-if="sermon" controls autoPlay>
            <source :src="media.rss.channel.item[0].enclosure.url" :type="media.rss.channel.item[0].enclosure.type" />
          </audio>
        </div>
      </div>
      <hr/>
      <div class="home-media-container">
        <div class="home-media-title-container">
          <h3 class="text-center">Worship Samples</h3>
          <p class="text-center">Listen to a medley of songs as our worship teams lead the congregation in worship through singing.</p>
        </div>
        <div class="home-media-content-container with-overlay">
          <img src="https://dccsiteimages.s3.amazonaws.com/home_hear_worship.jpg" width="300px"/>
          <div v-if="!song" class="home-media-overlay-container" @click="song = true">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 96 96" width="150px">
              <g>
                <polygon id="XMLID_3_" fill="rgba(255, 255, 255, 0.9)" points="20.9,15.5 20.9,80.5 75.1,48  "/>
              </g>
            </svg>
          </div>
          <audio v-if="song" controls autoPlay>
            <source src="https://dccsiteimages.s3.amazonaws.com/files/song_medley.mp3" type="audio/mp3" />
          </audio>
        </div>
      </div>
      <hr/>
      <div>
        <h2 class="text-center">Scripture & Prayer</h2>
        <p>Scripture and prayer are vital tools for disciples of Christ who desire to be with Jesus, and as such they form the center of our service.  On a Sunday morning, you can expect to hear the Word of God read aloud and people leading us in prayer to Jesus Christ. The Congregational Participation portion of our service offers you an opportunity to practice being a disciple through Scripture and prayer as well. Whether through a fellowship update, praying individually, or praying together, we hope to give you space on Sunday to connect with God in new and different ways.</p>
      </div>
      <hr/>
      <!-- <div class="home-media-container">
        <div class="home-media-title-container">
          <h3 v-if="blog" class="text-center">{{blog.rss.channel.title}}</h3>
          <a class="link-button" target="_blank" href="https://dunwoodyvoices.org">Read Our Blog</a>
        </div>
        <div v-if="blog" class="home-media-content-container text">
          <div>
            <div class="text-center"><h4>{{`${moment(blog.rss.channel.item[0].pubDate).format('MMMM D')} - ${blog.rss.channel.item[0].title}`}} <span class="badge">{{blog.rss.channel.item[0]['slash:comments']}}</span></h4></div>
            <div v-html="blog.rss.channel.item[0].description"></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <DccFooter/>
</div>
</template>

<script>
import DccNavBar from './DccNavBar';
import DccFooter from './DccFooter';

export default {
  name: "Home",
  components: {
    DccNavBar,
    DccFooter
  },
  data() {
    return {
      media: null,
      loading: false,
      error: null,
      blog: null,
      sermon: false,
      song: false,
      sermonSeries: ''
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchMedia();
    // this.fetchBlog()
  },
  methods: {
    fetchMedia() {
      this.error = this.media = null;
      this.loading = true;
      // replace `getPost` with your data fetching util / API wrapper
      fetch(`/api/media`)
        .then(response => {
          this.loading = false;
          return response.json();
        })
        .then(data => {
          this.media = data;
          this.sermonSeries = this.media.rss.channel.item
            .slice()
            .sort(
              (media1, media2) =>
                (new Date(media2.pubDate)).valueOf() - (new Date(media1.pubDate)).valueOf()
            )[0]["itunes:summary"];
        })
        .catch(err => {
          this.error = err.toString();
          // console.error(err)
        });
    },
    fetchBlog() {
      this.error = this.blog = null;
      this.loading = true;
      // replace `getPost` with your data fetching util / API wrapper
      fetch(`/api/blog`)
        .then(response => {
          this.loading = false;
          return response.json();
        })
        .then(data => {
          this.blog = data;
        })
        .catch(err => {
          this.error = err.toString();
          // console.error(err)
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-title.home {
  background-position: center bottom;
  background-image: url("https://dccsiteimages.s3.amazonaws.com/home_banner.jpg");
}

.location-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.location-info-container {
  flex: 1 1 65%;
}

.location-image-container img {
  width: 160px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.home-media-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
.home-media-title-container {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-width: 148px;
}

.home-media-title-container .link-button {
  color: #36363b;
}

.home-media-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.home-media-content-container > img {
  margin-bottom: 0;
}

.home-media-content-container.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #36363b;
}

.home-media-content-container.text > div {
  width: 278px;
}

.home-media-content-container.with-overlay {
  position: relative;
  flex-direction: column;
}
.home-media-overlay-container {
  position: absolute;
  cursor: pointer;
}
.home-media-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
</style>
