<template>
<div>
  <DccNavBar/>
  <div class="login-container">
    <h4 class="text-center">You need a password to view the {{title}}:</h4>
    <div><input autofocus type="password" placeholder="Password" v-model="password" @keypress.enter="login"/></div>
    <button class="link-button primary" @click="login()">Login</button>
  </div>
  <DccFooter/>
</div>
</template>

<script>
import {globalState} from '../main.js';
import checkStatus from "../lib/checkStatus";
import DccNavBar from "./DccNavBar";
import DccFooter from "./DccFooter";

export default {
  name: "Login",
  components: {
    DccNavBar,
    DccFooter
  },
  props: ['title', 'username'],
  data() {
    return {
      globalState,
      password: ''
    };
  },
  created() {
    this.checkIfLoggedIn()
  },
  methods: {
    checkIfLoggedIn() {
    fetch('/api/login', {
      headers: {
        'Content-Type': 'application/json'
      },
      credentials: 'include'
    }).then(response => {
      return response.json();
    }).then(data => {
      if(data.user) {
        this.globalState.loggedIn = data.user;
      }
    }).catch((err) => {
      this.$toasted.error(err.toString());
    });
  },
    login() {
      fetch('/api/login', {
        method: 'POST',
        body: JSON.stringify({username: this.username, password: this.password}),
        headers: {
          'Content-Type': 'application/json'
        },
        credentials: 'include'
      }).then(checkStatus)
      .then(response => response.json())
      .then(data => {
        this.globalState.loggedIn = data.user;
      }).catch(async (err) => {
        const response = await err.response.json();
        this.$toasted.error(response.message);
        // console.error(response);
      });
    }
  },
  computed: {
  },
  watch: {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.login-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
</style>
