<template>
<div>
  <DccNavBar/>
  <div class="page-title media">
    <div class="page-title-overlay-container">
      <div class="page-title-overlay"></div>
    </div>
    <div class="page-title-text-container">
      <h1 class="text-center page-title-text">MEDIA</h1>
      <br />
      <div class="page-title-button-container">
        <a class="link-button primary"  target="_blank" href="https://itunes.apple.com/us/podcast/dunwoody-community-church/id844106315">ITUNES PODCAST</a>
      </div>
    </div>
  </div>
  <div class="center-content wrap">
    <div>
      <select class="media-filter" v-model="series">
        <option value="">Any Series</option>
        <option v-for="seriesName in allSeries" :key="seriesName">{{seriesName}}</option>
      </select>
    </div>
    <div>
      <select class="media-filter" v-model="speaker">
        <option value="">Any Speaker</option>
        <option v-for="speakerName in speakers" :key="speakerName">{{speakerName}}</option>
      </select>
    </div>
  </div>
  <div v-if="loading" class="loading">
    Loading...
  </div>

  <div v-if="error" class="error">
    {{ error }}
  </div>
  <div v-if="media" class="center-content wrap">
    <label for="per_page" class="pagination-label">Per page:</label>
    <input type="number" min="1" max="100" class="pagination-page" v-model.number="per_page"/>
    <div v-if="per_page" class="pagination-buttons-container">
      <button v-for="(ignoreThis, index) in filteredMediaTotal" :key="index" class="pagination-button" :style="getPageButtonStyle(index)" @click="changePage(index)">{{index + 1}}</button>
    </div>
  </div>
  <div v-if="media" class="collection-pane">
    <div v-for="media in filteredMediaPage" :key="media.guid" class="collection-item-3">
      <div class="media-container">
        <div class="media-image-container">
          <img :src="media['itunes:image'].href" width="300px" />
          <div v-if="!audio[media.guid]" class="media-image-button-container" @click="activatePlayer(media.guid)">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 96 96" width="150px">
              <g>
                <polygon id="XMLID_3_" fill="rgba(255, 255, 255, 0.9)" points="20.9,15.5 20.9,80.5 75.1,48  " />
              </g>
            </svg>
          </div>
        </div>
        <audio v-if="audio[media.guid]" controls autoPlay>
          <source :src="media.enclosure.url" :type="media.enclosure.type" />
        </audio>
        <div class="media-description-container">
          <div><b>{{media.title}}</b></div>
          <div>Date: {{getMediaDate(media.pubDate)}}</div>
          <div v-if="media['itunes:summary']">Series: {{media['itunes:summary']}}</div>
          <div>Speaker: {{media['itunes:author']}}</div>
          <div>Length: {{media['itunes:duration']}}</div>
        </div>
      </div>
    </div>
  </div>
  <DccFooter/>
</div>
</template>

<script>
import moment from "moment";
import {uniq} from "lodash";
import DccNavBar from "./DccNavBar";
import DccFooter from "./DccFooter";

export default {
  name: "Media",
  components: {
    DccNavBar,
    DccFooter
  },
  data() {
    return {
      media: null,
      loading: false,
      error: null,
      audio: {},
      series: '',
      speaker: '',
      per_page: 9,
      offset: 0
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchMedia();
    // this.fetchBlog()
  },
  methods: {
    fetchMedia() {
      this.error = this.media = null;
      this.loading = true;
      // replace `getPost` with your data fetching util / API wrapper
      fetch(`/api/media`)
        .then(response => {
          this.loading = false;
          return response.json();
        })
        .then(data => {
          this.media = data;
        })
        .catch(err => {
          this.error = err.toString();
          // console.error(err)
        });
    },
    fetchBlog() {
      this.error = this.blog = null;
      this.loading = true;
      // replace `getPost` with your data fetching util / API wrapper
      fetch(`/api/blog`)
        .then(response => {
          this.loading = false;
          return response.json();
        })
        .then(data => {
          this.blog = data;
        })
        .catch(err => {
          this.error = err.toString();
          // console.error(err)
        });
    },
    changePage(index) {
      this.offset = index * this.per_page
      this.audio = {}
    },
    activatePlayer(mediaId) {
      /**
       * This is a quirk with reactive properties.
       * Can't do this because it's adding a new property:
       * `this.audio[mediaId] = true;`
       * Have to do the below to make sure Vue knows to track it.
       */
      this.$set(this.audio, mediaId, true);
    },
    getPageButtonStyle(index) {
      return index == Math.ceil(this.offset / this.per_page) ? {background: '#337ab7', color: 'white'} : {}
    },
    getMediaDate(date) {
      return moment(date).format('ddd, MMM D, YYYY')
    }
  },
  computed: {
    allSeries() {
      if (!this.media) {
        return [];
      }

      return uniq(
        this.media.rss.channel.item
          .filter(media => media['itunes:summary'] && (this.speaker ? media['itunes:author'] == this.speaker : true))
          .map(media => media['itunes:summary'])
      );
    },
    speakers() {
      if (!this.media) {
        return [];
      }

      return uniq(
        this.media.rss.channel.item
          .filter(media => media['itunes:author'] && (this.series ? media['itunes:summary'] == this.series : true))
          .map(media => media['itunes:author'])
      );
    },
    filteredMediaPage() {
      if (!this.media) {
        return [];
      }

      return this.media.rss.channel.item
        .slice()
        .sort((media1, media2) => (new Date(media2.pubDate)).valueOf() - (new Date(media1.pubDate)).valueOf())
        .filter(media => this.series ? media['itunes:summary'] == this.series : true)
        .filter(media => this.speaker ? media['itunes:author'] == this.speaker : true)
        .filter((media, index) => index >= this.offset && index < this.offset + this.per_page)
    },
    filteredMediaTotal() {
      if (!this.media) {
        return [];
      }

      return Array.from({
        length: Math.ceil(
          this.media.rss.channel.item
            .slice()
            .sort((media1, media2) => (new Date(media2.pubDate)).valueOf() - (new Date(media1.pubDate)).valueOf())
            .filter(media => this.series ? media['itunes:summary'] == this.series : true)
            .filter(media => this.speaker ? media['itunes:author'] == this.speaker : true)
            .length
          / this.per_page
        )
      }, () => 0);
    }
  },
  watch: {
    series: function() {
      this.audio = {}
      this.offset = 0
    },
    speaker: function() {
      this.audio = {}
      this.offset = 0
    },
    per_page: function() {
      this.per_page = Math.max(Math.min(this.per_page, 100), 1)
      this.audio = {}
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-title.media {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/media_banner.jpg");
}

.media {
    margin-top: 0px;
}

.media-container {
    display: flex;
    flex-direction: column;
}

.media-filter {
    margin: 10px;
}

.media-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-image-container > img {
    margin-bottom: 0px;
}

.media-image-button-container {
    position: absolute;
    cursor: pointer;
}

.media-description-container {
    width: 300px;
}
</style>
