<template>
<transition name="modal">
  <div class="modal-mask">
    <div class="modal-wrapper" @click.self="$emit('close')">
      <div class="modal-container">

        <div class="modal-header">
          <slot name="header">
            <div class="flex">
              <div>
                <a target="_blank" :href="selectedPerson.data.attributes.avatar">
                  <img :src="`${selectedPerson.data.attributes.avatar}?g=200x200%23`" class="person-image"/>
                </a>
              </div>
              <div class="person-modal-title-container">
                <div>{{selectedPerson.data.attributes.name}}</div>
                <div class="person-modal-membership">{{selectedPerson.data.attributes.membership}}</div>
                <div class="flex wrap">
                  <span v-if="selectedHousehold.length > 1" v-for="person in selectedHousehold" :key="person.id" class="custom-tooltip" :data-tip="person.attributes.name">
                    <img :src="`${person.attributes.avatar}?g=200x200%23`" class="person-image household" @click="$emit('showPersonDialog', person.id, selectedHouseholdId)"/>
                  </span>
                </div>
              </div>
            </div>
          </slot>
        </div>

        <div class="modal-body">
          <slot name="body">
            <div class="person-modal-list-container">
              <div>
                <b>Email:</b>&nbsp;
              </div>
              <div class="person-modal-list-item">
                <div v-for="email in emails" :key="email.id">
                  {{email.attributes.location}}: <a :href="`mailto:${email.attributes.address}`">{{email.attributes.address}}</a>
                </div>
              </div>
            </div>
            <div class="person-modal-list-container">
              <div>
                <b>Address:</b>&nbsp;
              </div>
              <div class="person-modal-list-item">
                <div v-for="address in addresses" :key="address.id">
                  {{address.attributes.location}}<br/>
                  <a target="_blank" :href="`https://www.google.com/maps/place/${(address.attributes.street || '').replace(/ /, '+')},+${(address.attributes.city || '').replace(/ /, '+')},+${(address.attributes.state || '').replace(/ /, '+')}+${(address.attributes.zip || '')}`">
                    {{address.attributes.street || ''}}<br/>
                    {{address.attributes.city || ''}}, {{address.attributes.state || ''}} {{address.attributes.zip || ''}}
                  </a>
                </div>
              </div>
            </div>
            <div class="person-modal-list-container">
              <div>
                <b>Phone Number:</b>&nbsp;
              </div>
              <div class="person-modal-list-item">
                <div v-for="phoneNumber in phoneNumbers" :key="phoneNumber.id">
                  {{phoneNumber.attributes.location}}: <a :href="`tel:${phoneNumber.attributes.number.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3')}`">{{phoneNumber.attributes.number.replace(/(\d{3})(\d{3})(\d{4})/, "$1-$2-$3")}}</a>
                </div>
              </div>
            </div>
            <div>
              <b>Birthday: </b><span v-if="selectedPerson.data.attributes.birthdate">{{birthday}}</span>
            </div>
          </slot>
        </div>

        <div class="modal-footer flex right-align">
          <slot name="footer">
            <button class="link-button" @click="$emit('close')">
              Close
            </button>
          </slot>
        </div>
      </div>
    </div>
  </div>
</transition>
</template>

<script>
import moment from 'moment';
export default {
  name: "PersonModal",
  props: ["selectedPerson", "selectedHousehold", "selectedHouseholdId"],
  data() {
    return {
    };
  },
  created() {
  },
  methods: {
  },
  computed: {
    emails: function () {
      return this.selectedPerson.included.filter(item => item.type == 'Email')
    },
    addresses: function () {
      return this.selectedPerson.included.filter(item => item.type == 'Address')
    },
    phoneNumbers: function () {
      return this.selectedPerson.included.filter(item => item.type == 'PhoneNumber')
    },
    birthday: function () {
      return moment(this.selectedPerson.data.attributes.birthdate).format('MMMM Do')
    }
  },
  watch: {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: fit-content;
  min-width: 556px;
  margin: auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.person-image {
  width: 136px;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 0px;
}

.person-modal-title-container {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person-modal-membership {
  font-size: 14px;
  line-height: 1.42857143;

  color: #4f4f53;
  font-family: 'Proxima Nova', 'Proxima Nova Regular', sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  word-wrap: break-word;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.person-modal-list-container {
  display: flex;
}

.person-modal-list-item {
  display: flex;
  flex-direction: column;
}

.custom-tooltip::after {
  content: attr(data-tip);
  top: 40px;
  font-size: 10px;
  left: 0%;
  width: 50px;
  text-align: center;
  word-wrap: normal;
  text-transform: none;
}

.custom-tooltip {
  display: inline-flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .custom-tooltip {
    display: inline-block;
    flex-direction: unset;
    position: relative;
  }

  .custom-tooltip::before {
    content: attr(data-tip);
    font-size: 10px;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    background: #000;
    color: #e0e0e0;
    padding: 0px 7px;
    line-height: 24px;
    height: 24px;
    opacity: 0;
    text-transform: none;
    /* transition: opacity 0.4s ease-out; */
  }

  .custom-tooltip::after {
    content: "";
    width: unset;
  }

  .custom-tooltip:hover::before {
    opacity: 1;
    top: 110%;
    left: -50%;
  }
}

.person-image.household {
  width: 50px;
  margin-bottom: 0;
}
</style>
