<template>
<div>
  <Login v-if="globalState.loggedIn !== 'dccadmin'" title="Podcast Admin" username="dccadmin"/>
  <div v-else class="podcast-admin-container">
    <DccNavBar/>
    <form id="form" class="center-content column margin">
      <div class="form-field-container">
        <multiselect
          :value="this.episode"
          @input="changeEpisode"
          :options="episodes"
          :close-on-select="true"
          :clear-on-select="true"
          deselect-label="Replace with default"
          label="label"
          track-by="value"
          class="form-field"
        />
      </div>
      <div class="form-field-container">
        <input type="text" name="title" placeholder="Title" class="form-field" v-model="title"/>
      </div>
      <div class="form-field-container">
        <multiselect
          v-model="speaker"
          :options="speakers"
          :close-on-select="true"
          :clear-on-select="true"
          :taggable="true"
          @tag="addSpeaker"
          tagPlaceholder="Press Enter to add speaker"
          placeholder="Speaker"
          class="form-field"
        />
      </div>
      <div class="form-field-container">
        <multiselect
          v-model="series"
          :options="allSeries"
          :close-on-select="true"
          :clear-on-select="true"
          :taggable="true"
          @tag="addSeries"
          tagPlaceholder="Press Enter to add series"
          placeholder="Series"
          class="form-field"
        />
      </div>
      <div class="form-field-container">
        <input placeholder="Publish date:" type="date" name="pubDate" class="form-field" v-model="pubDate"/>
      </div>
      <div class="center-content column bordered pad margin">
        <h4 class="text-center">Files</h4>
        <img v-if="selectedEpisode && selectedEpisode['itunes:image'].href && !imageFileName" :src="imageFilePath" width="120px"/>
        <label class="fileLabel">
          <input key="image" name="image" type="file" accept="image/png, image/jpeg" @change="imageFileName = $event.target.value.replace(/^.*[\\\/]/, '')"/>
          <span key="image-label">{{imageFileName || 'Image'}}</span>
        </label>
        or
        <multiselect
          v-model="previousImage"
          :options="options"
          @open="onPreviousImageOpen"
          @close="onPreviousImageClose"
          :close-on-select="true"
          :clear-on-select="true"
          :searchable="false"
          label="label"
          track-by="value"
          :option-height="200"
          placeholder="Previous Image"
          class="previous-image-select margin"
        >
          <template slot="singleLabel" slot-scope="props">
            <div class="flex center-content">
              <img v-if="props.option.label" class="option__image" :src="props.option.label" :alt="props.option.value" width="200px">
              <span class="option__title">{{ props.option.value }}</span>
            </div>
          </template>
          <template slot="option" slot-scope="props">
            <div class="flex" :class="{'center-content': !!props.option.value}">
              <img v-if="props.option.label" class="option__image" :src="props.option.label" :alt="props.option.value" width="200px">
              <span class="option__title">{{ props.option.value || 'Clear Value' }}</span>
            </div>
          </template>
        </multiselect>
        <audio v-if="selectedEpisode && !audioFileName" id="audio" controls class="margin">
          <source :src="audioFilePath" :type="selectedEpisode.enclosure.type"/>
        </audio>
        <label class="fileLabel">
          <input name="audio" type="file" accept="audio/mp3" @change="audioFileName = $event.target.value.replace(/^.*[\\\/]/, '')"/>
          <span>{{audioFileName || 'Audio'}}</span>
        </label>
      </div>
    </form>
    <div class="center-content margin-bottom">
      <div v-if="selectedEpisode" class="flex">
        <button class="link-button caution margin" @click="show = true">Remove</button>
        <div :style="{borderLeft: '1px solid black', height: 60, margin: '0px 55px'}">&nbsp;</div>
      </div>
      <button class="link-button" :disabled="submitted" @click="uploadPodcast(selectedEpisode)">Submit</button>
    </div>
    <DccFooter/>
  </div>
  <Dialog v-if="show" @accept="removePodcast()" @cancel="show = false">
    <template slot="header">
      Remove Podcast
    </template>
    <template slot="body">
      Are you sure you want to delete?<br/>
      <br/>
      Title: {{selectedEpisode.title}}<br/>
      GUID: {{selectedEpisode.guid}}
    </template>
  </Dialog>
</div>
</template>

<script>
import moment from "moment";
import {uniq, uniqBy, keyBy, get} from 'lodash';
import {globalState} from '../main.js';
import Multiselect from 'vue-multiselect'
import Login from './Login';
import Dialog from './Dialog';
import DccNavBar from './DccNavBar';
import DccFooter from './DccFooter';
import "vue-multiselect/dist/vue-multiselect.min.css"
import checkStatus from "../lib/checkStatus";
import 'event-source-polyfill';

export default {
  name: "PodcastAdmin",
  components: {
    Multiselect,
    Login,
    Dialog,
    DccNavBar,
    DccFooter
  },
  data() {
    return {
      globalState,
      imageFileName: '',
      previousImage: '',
      audioFileName: '',
      title: '',
      speaker: '',
      series: '',
      episode: {label: 'New Episode', value: ''},
      pubDate: '',
      show: false,
      allSeries: [],
      speakers: [],
      previousImages: [],
      options: [],
      episodes: [],
      episodesByGuid: {},
      es: null,
      fileUploads: null,
      submitted: false
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    if (this.globalState.loggedIn === 'dccadmin') {
      this.fetchMedia();

      this.es = new EventSource('/api/sse');
      this.es.addEventListener('s3UploadStatus', this.readSse);
    }
  },
  methods: {
    fetchMedia() {
      this.error = this.media = null;
      this.loading = true;
      // replace `getPost` with your data fetching util / API wrapper
      return fetch(`/api/media`)
        .then(response => {
          this.loading = false;
          return response.json();
        })
        .then(data => {
          this.media = data;
          this.allSeries = uniq(this.media.rss.channel.item.filter(media => media['itunes:summary']).map(media => media['itunes:summary']));
          this.speakers = uniq(this.media.rss.channel.item.filter(media => media['itunes:author']).map(media => media['itunes:author']));
          this.previousImages = uniqBy(this.media.rss.channel.item.filter(media => media['itunes:image'].href).map(media => {return {label: media['itunes:image'].href, value: media['itunes:image'].href.replace(/^.*[\\/]/, '')}}), 'value');
          this.previousImages.unshift({label: '', value: ''});
          this.episodes = this.media.rss.channel.item.map(media => {return {label: media.title || '<no title>', value: media.guid}});
          this.episodes.unshift({label: 'New Episode', value: ''});
          this.episodesByGuid = keyBy(this.media.rss.channel.item, 'guid');
        })
        .catch(err => {
          this.error = err.toString();
          // console.error(err)
        });
    },
    changeEpisode(selectable) {
      if (!selectable) {
        selectable = {label: 'New Episode', value: ''};
      }

      const audio = document.getElementById('audio');

      if (selectable.value && audio) {
        audio.load();
      }

      const selectedEpisode = this.episodesByGuid[selectable.value];

      this.episode = selectable,
      this.title = selectable.value && selectedEpisode.title || '',
      this.speaker = selectable.value && selectedEpisode['itunes:author'] || '',
      this.series = selectable.value && selectedEpisode['itunes:summary'] || '',
      this.pubDate = selectable.value && moment(new Date(selectedEpisode.pubDate)).format('YYYY-MM-DD') || '',
      this.previousImage = ''
    },
    uploadPodcast(selectedEpisode) {
      this.submitted = true
      const formElement = document.getElementById('form');
      const formData = new FormData(formElement);

      formData.append('author', this.speaker);
      formData.append('summary', this.series);
      formData.append('previousImage', get(this.previousImage, 'value', ''));

      const self = this;
      const toast = this.$toasted.info(`Upload Progress: 0%`, {
        position: 'bottom-right',
        containerClass: '',
        closeOnSwipe: false,
      });

      const xhr = new XMLHttpRequest();
      xhr.responseType = 'json';

      if (selectedEpisode) {
        xhr.open('PUT', `/api/podcast/${selectedEpisode.guid.replace('http://dunwoodychurch.org/media?id=', '')}`, true);
      } else {
        xhr.open('POST', '/api/podcast', true);
      }

      xhr.upload.onprogress = function(e) {
        if (e.lengthComputable) {
          const percentage = ((e.loaded / e.total) * 100).toFixed(0);
          toast.text(`Upload Progress: ${percentage}%`);
          if (percentage === '100') {
            toast.goAway();
          }
        }
      };

      xhr.onerror = () => {
        toast.goAway();
        this.$toasted.error('Looks like there is a Network error');
        this.submitted = false;
        // console.error(e);
      };

      xhr.onload = function() {
        if (this.status >= 200 && this.status < 300) {
          self.$toasted.success(this.response.message);
          self.refreshForm(!selectedEpisode)
        } else {
          self.$toasted.error(this.response.message || 'An error occured on the server');
          self.submitted = false;
          // console.error(this.response);
        }
        toast.goAway();
      };

      xhr.send(formData);
    },
    removePodcast() {
      fetch(`/api/podcast/${this.selectedEpisode.guid.replace('http://dunwoodychurch.org/media?id=', '')}`, {
        method: 'DELETE',
        credentials: 'include'
      }).then(checkStatus)
      .then((response) => response.json())
      .then((data) => {
        this.$toasted.success(data.message);
        this.refreshForm(true)
      }).catch(async (err) => {
        const response = await err.response.json();
        this.$toasted.error(response.message);
        this.submitted = false
        // console.error(response);
      });
    },
    addSpeaker(speaker) {
      this.speakers.push(speaker);
      this.speaker = speaker;
    },
    addSeries(series) {
      this.allSeries.push(series);
      this.series = series;
    },
    async refreshForm(resetEpisode) {
      this.imageFileName = '';
      this.previousImage = '';
      this.audioFileName = '';
      this.title = '';
      this.speaker = '';
      this.series = '';
      this.pubDate = '';
      this.show = false;
      this.allSeries = [];
      this.speakers = [];
      this.previousImages = [];
      this.episodes = [];
      this.episodesByGuid = {};
      this.submitted = false;
      await this.fetchMedia()
      if (!resetEpisode) {
        this.episode.label = this.selectedEpisode.title || this.episode.label;
        this.title = this.episode.value && this.selectedEpisode.title || '';
        this.speaker = this.episode.value && this.selectedEpisode['itunes:author'] || '';
        this.series = this.episode.value && this.selectedEpisode['itunes:summary'] || '';
        this.pubDate = this.episode.value && moment(new Date(this.selectedEpisode.pubDate)).format('YYYY-MM-DD') || '';
      } else {
        this.episode = {label: 'New Episode', value: ''};
      }
    },
    readSse(e) {
      let fileUpload = JSON.parse(e.data);

      if (!this.fileUploads || !this.fileUploads[fileUpload.action + fileUpload.file]) {
        const toast = this.$toasted.info(`${fileUpload.action} ${fileUpload.file}: ${fileUpload.percent}`, {
          position: 'bottom-right',
          containerClass: '',
          closeOnSwipe: false,
        });

        this.fileUploads =  {...this.fileUploads, [fileUpload.action + fileUpload.file]: toast};
      } else {
        const toast = this.fileUploads[fileUpload.action + fileUpload.file];
        if (fileUpload.done) {
          toast.goAway();
          delete this.fileUploads[fileUpload.action + fileUpload.file]
        } else {
          toast.text(`${fileUpload.action} ${fileUpload.file}: ${fileUpload.percent}`);
        }
      }
    },
    closeSse() {
      if (this.es) {
        this.es.removeEventListener('s3UploadStatus', this.readSse);
        this.es.close();
        this.es = undefined;
      }
    },
    onPreviousImageOpen() {
      this.options = this.previousImages
    },
    onPreviousImageClose() {
      const previousImage = this.previousImages.find(previousImage => previousImage.value === this.previousImage.value);
      this.options = previousImage ? [previousImage] : []
    }
  },
  computed: {
    selectedEpisode: function() {
      return this.episodesByGuid[get(this.episode, 'value')];
    },
    imageFilePath: function() {
      return `${this.selectedEpisode['itunes:image'].href}?cacheBuster=${moment().valueOf()}`
    },
    audioFilePath: function() {
      return `${this.selectedEpisode.enclosure.url}?cacheBuster=${moment().valueOf()}`
    }
  },
  watch: {
    'globalState.loggedIn': function(value, oldValue) {
      if (value !== oldValue && value === 'dccadmin') {
        this.fetchMedia()

        this.es = new EventSource('/api/sse');
        this.es.addEventListener('s3UploadStatus', this.readSse);
      }
    },
    previousImage: function() {
      if (!this.previousImage.value) {
        this.previousImage = ''
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.podcast-admin-container {
    padding-top: 60px;
}

.form-field-container {
    width: 100%;
}

.form-field {
    width: 100%;
    margin-bottom: 10px;
}

label.fileLabel input[type="file"] {
    display: none;
}

.fileLabel span {
    font-weight: 300;
}

.fileLabel {
    border: 1px solid black;
    padding: 2px 5px;
    margin: 2px;
    display: inline-block;
    cursor: pointer;
    background: #337ab7;
    color: white;
}

.previous-image-select {
  width: 350px;
}

.multiselect__option {
  white-space: normal;
}

.multiselect__option > span {
  word-break: keep-all;
  word-wrap: break-word;
}

.multiselect__content-wrapper {
  overflow-x: hidden;
}

.multiselect__option--highlight {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.multiselect__option--highlight::after {
  position: unset;
  line-height: 16px;
  white-space: nowrap;
}

.multiselect__content {
  min-width: unset;
  width: 100%;
}
</style>
