<template>
<div>
  <Login v-if="globalState.loggedIn !== 'dccyouth'" title="Teacher Portal" username="dccyouth"/>
  <div v-else>
    <DccNavBar>
      <template slot-scope="links">
        <router-link to="/teacherportal">HOME</router-link>
        <router-link v-if="curriculums" v-for="curriculum in sortedCurriculums" :key="curriculum.id" :class="{active: location.pathname == `/teacherportal/curriculum/${curriculum.id}`}" :to="`/teacherportal/curriculum/${curriculum.id}`">
          {{curriculum.attributes.title.toUpperCase()}}
        </router-link>
        <router-link to="/teacherportal/teams">MEET OUR TEAM</router-link>
      </template>
    </DccNavBar>
    <div class="page-title teacher-portal">
      <div class="page-title-overlay-container">
        <div class="page-title-overlay"></div>
      </div>
      <div class="page-title-text-container">
        <h1 class="text-center page-title-text small">Welcome to the DCC Children's Ministry Parent & Teacher Portal</h1>
        <br/>
        <div class="page-title-button-container">
          <a class="link-button fill" href="mailto:jshetler@dunwoodychurch.org">QUESTIONS? CLICK HERE!</a>
        </div>
      </div>
    </div>
    <h2 class="text-center">TEACHING SCHEDULE</h2>
    <table class="responsive-table">
      <thead>
        <tr>
          <td>Date</td>
          <td>Nursery (Ages 0-1)</td>
          <td>Seedlings (Ages 2-3)</td>
          <td>Dogwoods (Ages 4-5)</td>
          <td>Children's Church (1st-5th Grade)</td>
        </tr>
      </thead>
      <tbody>
        <tr v-if="plans" v-for="plan in plans.data" :key="plan.id">
          <td data-label="Date">
            {{getPlanDate(plan)}}
          </td>
          <td v-for="(missingName, index) in classDisplayNameList" :key="plan.id + index" :data-label="!getTeamMembers(plan, index) ? missingName : classDisplayNames[getTeamName(getTeamMembers(plan, index))]">
            <div v-if="!getTeamMembers(plan, index)" class="teacher-container"></div>
            <div v-else class="teacher-container">
              <div v-for="teamMember in getTeamMembersList(plan)[index]" :key="teamMember.id">{{teamMember.attributes.name}}</div>
              <a v-if="getTeamAttachment(plan, getTeamName(getTeamMembers(plan, index)), getTeamMembers(plan, index))" @click="downloadLesson(plan.id, getTeamAttachment(plan, getTeamName(getTeamMembers(plan, index)), getTeamMembers(plan, index)).id)">
                {{getTeamAttachment(plan, getTeamName(getTeamMembers(plan, index)), getTeamMembers(plan, index)).attributes.filename.replace('.pdf', '')}}
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <DccFooter/>
  </div>
</div>
</template>

<script>
import moment from "moment";
import {get, values, groupBy, keyBy} from "lodash";
import {globalState} from '../main.js';
import Login from './Login';
import DccNavBar from './DccNavBar';
import DccFooter from './DccFooter';

export default {
  name: "TeacherPortal",
  components: {
    Login,
    DccNavBar,
    DccFooter
  },
  data() {
    return {
      globalState,
      location,
      curriculums: null,
      curriculumLessonsByCurriculumId: {},
      curriculumsByClass: {},
      plans: null,
      error: null,
      loading: false,
      classOrder: {
        'Nursery Teacher': 1,
        'Seedlings 2-3': 2,
        'Dogwoods 4-K': 3,
        "Children's Church Grades 1-5": 4,
      },
      classDisplayNames: {
        'Nursery Teacher': 'Nursery (Ages 0-1)',
        'Seedlings 2-3': 'Seedlings (Ages 2-3)',
        'Dogwoods 4-K': 'Dogwoods (Ages 4-5)',
        "Children's Church Grades 1-5": "Children's Church (1st-5th Grade)",
      },
      classDisplayNameList: [
        'Nursery (Ages 0-1)',
        'Seedlings (Ages 2-3)',
        'Dogwoods (Ages 4-5)',
        "Children's Church (1st-5th Grade)",
      ]
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    if(this.globalState.loggedIn === 'dccyouth') {
      this.fetchPlans()
      this.fetchCurriculums()
    }
  },
  methods: {
    fetchPlans() {
      this.error = this.plans = {};
      this.loading = true;
      fetch('/api/plans', {credentials: 'include'}).then(response => {
        this.loading = false;
        return response.json();
      }).then(data => {
        this.plans = data;
      }).catch(err => {
        this.error = err.toString();
        // console.err(err);
      });
    },
    fetchCurriculums() {
      this.error = this.curriculums = {};
      this.loading = true;
      fetch('/api/curriculums', {credentials: 'include'}).then(response => {
        this.loading = false;
        return response.json();
      }).then(data => {
        this.curriculums = data;
        this.curriculumLessonsByCurriculumId = groupBy(this.curriculums.included, attachment => attachment.relationships.attachable.data.id);
        this.curriculumsByClass = keyBy(this.curriculums.data, curriculum => curriculum.attributes.themes);
      }).catch(err => {
        this.error = err.toString();
        // console.err(err);
      });
    },
    getTeamMembersList(plan) {
      return values(groupBy(plan.team_members.data, teamMember => teamMember.attributes.team_position_name)).sort((group1, group2) => this.classOrder[group1[0].attributes.team_position_name] - this.classOrder[group2[0].attributes.team_position_name]);
    },
    getTeamAttachment(plan, teamMembers) {
      const curriculumAttachments = this.curriculumLessonsByCurriculumId[get(this.curriculumsByClass, `[${teamMembers}].id`)] || [];
      return plan.attachments.data.find(attachment => curriculumAttachments.find(curriculumAttachment => curriculumAttachment.attributes.filename == attachment.attributes.filename));
    },
    getPlanDate(plan) {
      return moment(plan.attributes.sort_date).format('MMMM D');
    },
    getTeamName(teamMembers) {
      return teamMembers[0].attributes.team_position_name;
    },
    getTeamMembers(plan, index) {
      return this.getTeamMembersList(plan)[index];
    }
  },
  computed: {
    sortedCurriculums: function() {
      if(!this.curriculums.data) {
        return [];
      }

      return this.curriculums.data.slice().sort((curriculum1, curriculum2) => this.classOrder[curriculum1.attributes.themes] - this.classOrder[curriculum2.attributes.themes]);
    }
  },
  watch: {
    'globalState.loggedIn': function(value, oldValue) {
      if (value !== oldValue && value === 'dccyouth') {
        this.fetchPlans()
        this.fetchCurriculums()
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-title.teacher-portal {
    background-position: center center;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/children-youth_banner.jpg");
}

.teacher-container {
    display: flex;
    flex-direction: column;
    min-height: 36px;
}
</style>
