<template>
<div>
  <Login v-if="globalState.loggedIn !== 'dccyouth'" title="Teacher Portal" username="dccyouth"/>
  <div v-else>
    <DccNavBar>
      <template slot-scope="links">
        <router-link to="/teacherportal">HOME</router-link>
        <router-link v-if="curriculums" v-for="curriculum in sortedCurriculums" :key="curriculum.id" :class="{active: location.pathname == `/teacherportal/curriculum/${curriculum.id}`}" :to="`/teacherportal/curriculum/${curriculum.id}`">
          {{curriculum.attributes.title.toUpperCase()}}
        </router-link>
        <router-link to="/teacherportal/teams">MEET OUR TEAM</router-link>
      </template>
    </DccNavBar>
    <div class="page-title teams">
      <div class="page-title-overlay-container">
        <div class="page-title-overlay"></div>
      </div>
      <div class="page-title-text-container">
        <h1 class="text-center page-title-text">MEET OUR CHILDREN'S MINISTRY TEAM</h1>
      </div>
    </div>
    <div class="collection-pane">
      <div v-if="curriculums" v-for="person in getPeople()" :key="person.id" class="collection-item-3">
        <div>
          {{`${person.attributes.first_name} ${person.attributes.last_name}`}}
        </div>
        <div>
          <img :src="person.attributes.photo_thumbnail_url" class="person-image" />
        </div>
        <div>
          {{person.attributes.team_name}}
        </div>
      </div>
    </div>
    <DccFooter/>
  </div>
</div>
</template>

<script>
import {groupBy, mapValues, keyBy, values, sortBy} from "lodash";
import {globalState} from '../main.js';
import Login from './Login';
import DccNavBar from './DccNavBar';
import DccFooter from './DccFooter';

export default {
  name: "Teams",
  components: {
    Login,
    DccNavBar,
    DccFooter
  },
  data() {
    return {
      globalState,
      location,
      curriculums: null,
      teams: {},
      teamsInfo: [],
      error: null,
      loading: false,
      selectedCurriculum: {},
      attachments: [],
      classOrder: {
        'Nursery Teacher': 1,
        'Seedlings 2-3': 2,
        'Dogwoods 4-K': 3,
        "Children's Church Grades 1-5": 4,
      }
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    if(this.globalState.loggedIn === 'dccyouth') {
      this.fetchCurriculums()
      this.fetchTeams()
    }
  },
  methods: {
    fetchTeams() {
      this.error = this.teams = {};
      this.loading = true;
      fetch('/api/teams', {credentials: 'include'}).then(response => {
        this.loading = false;
        return response.json();
      }).then(data => {
        this.teams = data;
        this.teamsInfo = mapValues(groupBy(this.teams.included, 'type'), groupType => keyBy(groupType, 'id'));
        for(let assignment of values(this.teamsInfo.PersonTeamPositionAssignment)) {
            let person = this.teamsInfo.Person[assignment.relationships.person.data.id];
            let teamPosition = this.teamsInfo.TeamPosition[assignment.relationships.team_position.data.id];
            person.attributes.team_name = teamPosition.attributes.name;
        }
      }).catch(err => {
        this.error = err.toString();
        // console.err(err);
      });
    },
    fetchCurriculums() {
      this.error = this.curriculums = {};
      this.loading = true;
      fetch('/api/curriculums', {credentials: 'include'}).then(response => {
        this.loading = false;
        return response.json();
      }).then(data => {
        this.curriculums = data;
      }).catch(err => {
        this.error = err.toString();
        // console.err(err);
      });
    },
    getPeople() {
      return sortBy(values(this.teamsInfo.Person), person => person.attributes.last_name)
    }
  },
  computed: {
    sortedCurriculums: function() {
      if(!this.curriculums.data) {
        return [];
      }

      return this.curriculums.data.slice().sort((curriculum1, curriculum2) => this.classOrder[curriculum1.attributes.themes] - this.classOrder[curriculum2.attributes.themes]);
    }
  },
  watch: {
    'globalState.loggedIn': function(value, oldValue) {
      if (value !== oldValue && value === 'dccyouth') {
        this.fetchCurriculums()
        this.fetchTeams()
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-title.teams {
    background-position: center center;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/children-youth_banner.jpg");
}

.person-image {
  width: 136px;
  border-radius: 50%;
  margin-bottom: 0px;
}
</style>
