<template>
<div>
  <DccNavBar/>
  <div class="page-title youth">
    <div class="page-title-overlay-container">
      <div class="page-title-overlay"></div>
    </div>
    <div class="page-title-text-container">
      <h1 class="text-center page-title-text">CHILDREN & YOUTH</h1>
    </div>
  </div>
  <div class="split-pane-container">
    <div class="split-pane-left">
      <h2 class="text-center">Children's Ministry</h2>
      <p>
        Our Children's Ministry is laying the foundation for our DCC students. As students pass through our Children's Ministry classes and move into youth group, we want each class to challenge them and build on what they learned the previous year.
      </p>
      <div>
        <div class="collection-pane">
          <div class="collection-item-2 medium">
            <div class="childrens-block-container">
              <div class="childrens-block-overlay-container">
                <div class="childrens-block-overlay"></div>
              </div>
              <div class="childrens-block-content">
                <div>
                  <h3 class="text-center">Nursery</h3>
                  <p class="text-center side-pad">Building a foundation of trust and support between parents, infants, and Sunday School teachers. To lay the groundwork of <b>being with Jesus</b>.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collection-item-2 medium">
            <div class="childrens-block-container">
              <div class="childrens-block-overlay-container">
                <div class="childrens-block-overlay"></div>
              </div>
              <div class="childrens-block-content">
                <div>
                  <h3 class="text-center">Seedings (2-3)</h3>
                  <p class="text-center side-pad">To learn who Jesus is so we can <b>be with Jesus</b> and <b>be like Jesus</b>.<br/><i>God is ______.</i><br/>(Characteristics of God)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collection-item-2 medium">
            <div class="childrens-block-container">
              <div class="childrens-block-overlay-container">
                <div class="childrens-block-overlay"></div>
              </div>
              <div class="childrens-block-content">
                <div>
                  <h3 class="text-center">Dogwoods (4-5)</h3>
                  <p class="text-center side-pad"> To encourage a personal response to Jesus so we can <b>do what Jesus did</b>.<br/><i>God is _____, therefore I ______.</i><br/>(Personal response to God)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collection-item-2 medium">
            <div class="childrens-block-container">
              <div class="childrens-block-overlay-container">
                <div class="childrens-block-overlay"></div>
              </div>
              <div class="childrens-block-content">
                <div>
                  <h3 class="text-center">Children's Church (1<span class="ordinal">st</span>-5<span class="ordinal">th</span> Grade)</h3>
                  <p class="text-center side-pad">To develop personal beliefs so we can begin to think about discipling other to <b>be with Jesus</b>, <b>be like Jesus</b>, and <b>do what Jesus did</b>.<br/><i>God is _____, therefore I _____, because I believe ______.</i><br/>(Building personal beliefs)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="center-content column">
          <a target="_blank" href="https://dccsiteimages.s3.amazonaws.com/files/kids_ministry_philosophy.pdf" class="link-button">Philosophy of Children's Ministry</a>
          <a target="_blank" href="https://dccsiteimages.s3.amazonaws.com/files/kids_ministry_age_goals.pdf" class="link-button">Age Level Goals</a>
          <router-link to="/teacherportal" class="link-button">Teacher & Parent Portal</router-link>
        </div>
        <div>
            <hr/>
            <div class="center-content">
              <img srcSet="https://dccsiteimages.s3.amazonaws.com/dcs_logo.png" class="borderless" width="100%" />
            </div>
            <p>Located on the campus of Dunwoody Community Church, <a target="_blank" href="http://dunwoodycs.org">Dunwoody Christian School</a> is a new private Christian elemtary school here in the Dunwoody area.  Their mission is to partner with parents to develop children who are grounded in Christ-like character, possess exceptional knowledge, and are prepared to embrace life’s opportunities and challenges. They are presently still accepting applications for K, 1<sup>st</sup>, and 2<sup>nd</sup> grades.  <a target="_blank" href="http://dunwoodycs.org">See their web site</a> for more information or to apply.
            </p>
        </div>
      </div>
    </div>
    <div class="split-pane-right">
      <div class="center-content column">
        <h2 class="text-center">Youth Group</h2>
        <p>At DCC youth group, our goal is for every student to hear the truth of Jesus Christ & encounter God in an authentic, personal way. Youth group offers opportunities to <b>be with Jesus</b>, <b>be like Jesus</b>, and <b>do what Jesus did</b>. Join us at <b>D-Nite</b>, a weekly gathering of students on Sunday nights at 6:30. Together we study Scripture, pray, and build our community as the body of Christ. We hope to see you there!</p>
        <img src="https://dccsiteimages.s3.amazonaws.com/youth-group.jpg" width="100%"/>
        <div>
          <h2 class="text-center">Youth Group Events</h2>
          <div class="center-content column">
            <div class="pad">
              <label>Display by:</label>
              <select v-model="display">
                <option value="date">Date</option>
                <option value="event">Event</option>
                <option value="weekday">Weekday</option>
              </select>
            </div>
          </div>
          <hr />
          <div v-if="loading" class="loading">
            Loading...
          </div>

          <div v-if="error" class="error">
            {{ error }}
          </div>

          <div v-if="youthEvents" class="content">
            <div v-if="display === 'event'">
              <div v-for="(dates, eventId) in youthDatesByEventType" :key="eventId">
                <div class="split-pane-container center-content">
                  <div class="event-image-container">
                    <img class="event-image" :src="getYouthEventPicture(eventId)" />
                  </div>
                  <div class="event-details-container">
                    <div class="event-title">
                      {{getYouthEventName(eventId)}}
                    </div>
                    <div class="event-details" v-html="getYouthEventDetails(eventId)"></div>
                    <div v-for="date in dates" class="event-date" :key="date">
                      {{date}}
                    </div>
                  </div>
                </div>
                <hr v-if="isLastEvent(eventId, youthDatesByEventType)" />
              </div>
            </div>
            <div v-if="display === 'weekday'">
              <div v-for="(events, day) in youthEventsByWeekday" :key="day">
                <h3>Upcoming {{day}}s</h3>
                <div v-for="(event, index) in events" :key="index">
                  <div class="split-pane-container center-content">
                    <div class="event-image-container">
                      <img class="event-image" :src="getYouthEventPicture(event.relationships.event.data.id)" />
                    </div>
                    <div class="event-details-container">
                      <div class="event-date">
                        {{getYouthEventDate(event.relationships.event.data.id)}}
                      </div>
                      <div class="event-title">
                        {{getYouthEventName(event.relationships.event.data.id)}}
                      </div>
                      <div class="event-details" v-html="getYouthEventDetails(event.relationships.event.data.id)"></div>
                    </div>
                  </div>
                  <hr v-if="index != events.length - 1" class="thin dashed" />
                </div>
                <hr v-if="isLastEvent(day, youthEventsByWeekday)" />
              </div>
            </div>
            <div v-if="display === 'date'">
              <div v-for="(events, date) in youthEventsByDate" :key="date">
                <h3>{{date}}</h3>
                <div v-for="(event, index) in events" :key="index">
                  <div class="split-pane-container center-content">
                    <div class="event-image-container">
                      <img class="event-image" :src="getYouthEventPicture(event.relationships.event.data.id)" />
                    </div>
                    <div class="event-details-container">
                      <div class="event-date">
                        {{getYouthEventDate(event.relationships.event.data.id)}}
                      </div>
                      <div class="event-title">
                        {{getYouthEventName(event.relationships.event.data.id)}}
                      </div>
                      <div class="event-details" v-html="getYouthEventDetails(event.relationships.event.data.id)"></div>
                    </div>
                  </div>
                  <hr v-if="index != events.length - 1" class="thin dashed" />
                </div>
                <hr v-if="isLastEvent(date, youthEventsByDate)" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <DccFooter/>
</div>
</template>

<script>
import moment from "moment";
import { keyBy, groupBy, mapValues, keys, last, get } from "lodash";
import md from "../lib/markdown";
import DccNavBar from "./DccNavBar";
import DccFooter from "./DccFooter";

export default {
  name: "Youth",
  components: {
    DccNavBar,
    DccFooter
  },
  data() {
    return {
      display: "date",
      youthEvents: null,
      error: null,
      loading: false
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchYouthEvents();
  },
  methods: {
    fetchYouthEvents() {
      this.error = this.youthEvents = null;
      this.loading = true;
      // replace `getPost` with your data fetching util / API wrapper
      fetch(`/api/events/youth`)
        .then(response => {
          this.loading = false;
          return response.json();
        })
        .then(data => {
          this.youthEvents = data;
          this.youthEventsEventType = keyBy(this.youthEvents.included, event => event.id);
          this.youthEventsByDate = groupBy(this.youthEvents.data, booking =>
            moment(booking.attributes.starts_at).format("dddd, MMM D")
          );
          this.youthEventsByWeekday = groupBy(this.youthEvents.data, booking =>
            moment(booking.attributes.starts_at).format("dddd")
          );
          this.youthDatesByEventType = mapValues(
            groupBy(
              this.youthEvents.data,
              booking => booking.relationships.event.data.id
            ),
            bookings =>
              bookings.map(
                booking =>
                  `${moment(booking.attributes.starts_at).format(
                    "dddd, MMM D h:mma"
                  )} - ${
                    moment(booking.attributes.starts_at).format("MM/DD/YYYY") ==
                    moment(booking.attributes.ends_at).format("MM/DD/YYYY")
                      ? moment(booking.attributes.ends_at).format("h:mma")
                      : moment(booking.attributes.ends_at).format(
                          "dddd, MMM D h:mma"
                        )
                  }`
              )
          );
        })
        .catch(err => {
          this.error = err.toString();
          // console.error(err)
        });
    },
    getYouthEventPicture(eventId) {
      return get(
        this.youthEventsEventType[eventId],
        'relationships.attachments.data[0].attributes.url',
        'https://dccsiteimages.s3.amazonaws.com/dcc_leaf_logo.png'
      );
    },
    getYouthEventName(eventId) {
      return this.youthEventsEventType[eventId].attributes.name;
    },
    getYouthEventDetails(eventId) {
      return md.render(this.youthEventsEventType[eventId].attributes.details);
    },
    getYouthEventDate(eventId) {
      return `${moment(this.youthEventsEventType[eventId].attributes.starts_at).format('MMM D @ h:mma')} - ${moment(this.youthEventsEventType[eventId].attributes.starts_at).format('MM/DD/YYYY') == moment(this.youthEventsEventType[eventId].attributes.ends_at).format('MM/DD/YYYY') ? moment(this.youthEventsEventType[eventId].attributes.ends_at).format('h:mma') : moment(this.youthEventsEventType[eventId].attributes.ends_at).format('MMM D @ h:mma')}`;
    },
    isLastEvent(key, events) {
      return key != last(keys(events));
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-title.youth {
  background-position: center center;
  background-image: url("https://dccsiteimages.s3.amazonaws.com/children-youth_banner.jpg");
}

.childrens-block-container {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("https://dccsiteimages.s3.amazonaws.com/children_on_floor.jpg");
}

.childrens-block-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.childrens-block-overlay {
  background-color: white;
  opacity: 0.75;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.childrens-block-content {
  position: relative;
  z-index: 2;
  min-width: 200px;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #36363b;
}

.ordinal {
  position: relative;
  bottom: 0.75em;
  font-size: 0.5em;
}

.side-pad {
  padding: 0px 5px;
}

.youth-events-list {
  align-self: flex-start;
}

.event-container {
    display: flex;
    align-items: center;
    border: 1px solid #36363b;
    padding: 15px;
}

.event-info-link {
    margin-top: 10px;
    padding-left: 10px;
}

.event-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 108px;
}

.event-image {
    width: 100px;
    border: none;
    margin: 0px;
}

.event-date {
    letter-spacing: 0.01em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}

.event-details-container {
    padding: 10px 0px 10px 20px;
    flex: 1 1 70%;
}

.event-title {
    letter-spacing: 0.01em;
    font-size: 1.5em;
    text-align: center;
}

.event-details {
    letter-spacing: 0.01em;
    font-size: 1.25em;
    text-align: center;
    padding-bottom: 10px;
}

.event-details p {
    margin-top: 5px;
}
</style>
