<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>

<style>
* {
  box-sizing: border-box;
}

/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  margin: 0;
  background-color: #dedddb;
  color: #4f4f53;
  font-family: "Proxima Nova", "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
  line-height: 1.42857143;
  text-transform: none;
  word-wrap: break-word;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 10px;
}

a {
  color: #de5b66;
  word-break: break-all;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: 600;
}

img {
  border: 1px solid #36363b;
  margin-bottom: 10px;
}
img.borderless {
  border: none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #36363b;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Proxima Nova", "Proxima Nova Light", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  line-height: 1.1;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
  border: 2px solid #36363b;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 18px;
}

/* Nav bar styles */

nav {
  background-color: white;
  opacity: 0.9;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}
nav .navWide {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 7px;
}
nav .navWide a {
  padding-right: 10px;
}
nav .navWide .wideDiv {
  display: none;
}
nav .navWide .wideDiv {
  text-align: center;
}
nav .navWide .wideDiv a {
  text-decoration: none;
  display: inline-block;
  padding: 0px 7px;
}
nav a {
  color: #36363b;
}
nav a.active {
  color: #de5b66;
}
nav .navNarrow {
  height: 100%;
}
nav .navNarrow .navNarrowMenu {
  cursor: pointer;
}
nav .navNarrow .navNarrowMenu svg {
  height: 60px;
}
nav .navNarrow .narrowLinks {
  display: none;
  position: fixed;
  left: 0px;
  background-color: white;
  top: 60px;
  width: 100%;
}
nav .navNarrow .narrowLinks a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  padding: 0.5em 0;
}
.navbar-image {
  border: none;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  nav {
    display: block;
  }
  nav .navWide {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .navNarrow {
    display: none;
  }
  nav .navWide .wideDiv {
    display: flex;
    align-items: center;
  }
}

.pad {
  padding: 15px;
}

.margin {
  margin: 15px;
}

.text-center {
  text-align: center;
}

.link-button {
  font-size: 14px;
  min-width: 50px;
  text-align: center;
  margin: 5px;
  border: 1px solid #36363b;
  padding: 5px;
  cursor: pointer;
  color: #36363b;
  text-decoration: none;
}

a.link-button:hover {
  background-color: black;
  color: white;
  border-color: white;
  text-decoration: none;
}

a.link-button:focus {
  text-decoration: none;
}

.home-media-title-container .link-button {
  color: #36363b;
}

.link-button.primary {
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
}

.link-button.caution {
  background-color: #e74c3c;
  color: white;
}

.link-button.fill {
  background-color: white;
}

.link-button.light {
  color: #c5c4c3;
  border-color: #c5c4c3;
}

.link-button-icon {
  height: 15px;
  position: relative;
  top: 2px;
}

.crop-image {
  max-width: 120px;
  overflow: hidden;
  border: 1px solid #36363b;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content.column {
  flex-direction: column;
}

.center-content.wrap {
  flex-wrap: wrap;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

hr.thin {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr.thick {
  border-width: 2px;
}

hr.dashed {
  border-style: dashed;
}

h4.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex.right-align {
  justify-content: flex-end;
}

.flex.wrap {
  flex-wrap: wrap;
}

.bordered {
  border: 1px solid black;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 5px;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.image-select.has-value
  > .Select-control
  > .Select-multi-value-wrapper
  > .Select-value,
.image-select.has-value
  > .Select-control
  > .Select-multi-value-wrapper
  > .Select-input {
  height: 200px;
}
.image-select > .Select-control > .Select-clear-zone,
.image-select > .Select-control > .Select-arrow-zone {
  vertical-align: top;
  padding-top: 8px;
}

/* General styles */

.page-title {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-title-text.small {
  font-size: 30px;
}
.page-title-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.page-title-overlay {
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.page-title-text-container {
  position: relative;
  z-index: 2;
  margin-top: 60px;
  height: 376px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #36363b;
}
.page-title-text {
  font-size: 50px;
}
.page-title-button-container {
    align-self: flex-end;
    padding-right: 10px;
}

.split-pane-container,
.collection-pane {
  display: flex;
  flex-wrap: wrap;
}

.split-pane-container.reverse {
  flex-wrap: wrap-reverse;
}

.split-pane-container.vertical-align {
  align-items: center;
}

.collection-item-2 {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.collection-item-2.medium {
  padding: 20px;
}

.collection-item-3 {
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.collection-item-5 {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.split-pane-container {
  display: flex;
  flex-wrap: wrap;
}
.split-pane-left {
  flex: 1 1 50%;
  border-right: 1px solid #36363b;
  border-bottom: 1px solid #36363b;
  padding: 0 10px 0 10px;
  min-width: 345px;
  padding-bottom: 20px;
}
.split-pane-right {
  flex: 1 1 50%;
  border-right: 1px solid #36363b;
  border-bottom: 1px solid #36363b;
  padding: 0 10px 0 10px;
  min-width: 345px;
  padding-bottom: 20px;
}
.split-pane-simple {
  flex: 1 1 50%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-button {
  font-size: 14px;
  min-width: 50px;
  text-align: center;
  margin: 5px;
  border: 1px solid #36363b;
  padding: 5px;
  cursor: pointer;
  color: #36363b;
  text-decoration: none;
}

a.link-button:hover {
  background-color: black;
  color: white;
  border-color: white;
  text-decoration: none;
}

a.link-button:focus {
  text-decoration: none;
}
.link-button.primary {
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
}

.link-button.caution {
  background-color: #e74c3c;
  color: white;
}

.link-button.fill {
  background-color: white;
}

.link-button.light {
  color: #c5c4c3;
  border-color: #c5c4c3;
}

.link-button-icon {
  height: 15px;
  position: relative;
  top: 2px;
}

td {
  background: #fafafa;
}
.responsive-table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
.responsive-table thead {
  visibility: hidden;
  background: #fafafa;
}
.responsive-table tr {
  padding: 5px;
  margin-bottom: 10px;
  display: block;
}
.responsive-table th,
.responsive-table td {
  padding: 10px;
  text-align: left;
}
.responsive-table th {
  text-transform: uppercase;
  font-size: 11px;
}
.responsive-table td {
  display: block;
  text-align: right;
  font-size: 13px;
  border-left: 1px solid #36363b;
  border-right: 1px solid #36363b;
  border-bottom: 1px solid #36363b;
}
.responsive-table td:first-child {
  border-top: 1px solid #36363b;
}
.responsive-table td:before {
  content: attr(data-label);
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  width: 44%;
  text-align: left;
}
.responsive-table td > div {
  align-items: center;
}
.responsive-table thead {
  display: none;
}
.responsive-table tr {
  border: none;
}
.responsive-table td > div {
  align-items: flex-end;
}
@media screen and (min-width: 600px) {
  .responsive-table thead {
    display: table-header-group;
    visibility: visible;
    font-weight: bold;
  }
  .responsive-table tr {
    display: table-row;
    border: 1px solid #36363b;
    border-bottom: 1px solid #36363b;
    margin-bottom: 0;
  }
  .responsive-table td {
    display: table-cell;
    text-align: center;
    font-size: 14px;
    border-bottom: none;
  }
  .responsive-table td:before {
    content: "";
    display: none;
  }
  .responsive-table td > div {
    align-items: center;
  }
}

.toast-top-fix {
  top: 0% !important;
}

.pagination-label {
    padding-left: 10px;
}

.pagination-page {
    width: 55px;
}

.pagination-buttons-container {
    padding-left: 15px;
}

.pagination-button {
    border: 1px solid #36363b;
    cursor: pointer;
}
</style>
